{% from 'components/toast.html' import toast %}

<!DOCTYPE html>
<head>
    <title>{% block title %}{% endblock %} - Pixeme</title>
    <link rel="stylesheet" href="{{ static_url_for('static', filename='dist/css/app.css') }}">
    <link rel="icon" href="{{ static_url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <script src="{{ static_url_for('static', filename='dist/js/app.js') }}"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body class="flex flex-col min-h-screen overflow-auto">
    <div class="h-nav">
        {% include 'components/navbar.html' %}
    </div>

    <div class="flex-shrink block md:hidden">
        {% block topbar %}{% endblock %}
    </div>

    <div class="main flex-grow flex flex-row h-screen-minus-nav">
        <div class="sidebar hidden md:block md:w-1/3 lg:w-1/4 xl:w-1/5
            border-r border-purple-700">
            {% block sidebar %}{% endblock %}
        </div>
        <div class="content w-full md:w-2/3 lg:w-3/4 xl:w-4/5 overflow-y-auto">
            {% block content %}{% endblock %}
        </div>

    </div>

    {# Any extra markup that doesn't fit in the other blocks #}
    {% block extra %}{% endblock %}

    {% for category, flash in get_flashed_messages(with_categories=True) %}
        {{ toast(loop.index0, flash, category) }}
    {% endfor %}
</body>