/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

/* Custom classes */

.nav-item {
    @apply block mt-4 text-purple-200 mr-4;
}

.nav-item:hover {
    @apply text-white;
}

@screen md {
    .nav-item {
        @apply inline-block mt-0;
    }
}

.slide-down-enter-active, .slide-down-leave-active {
    @apply transition ease-in-out duration-150;
}

.slide-down-enter {
    @apply transition -translate-y-full h-full absolute;
}

.slide-down-leave-to {
    @apply transition translate-y-full h-full absolute;
}

.alert {
    @apply border-l-4 p-4;
}

.alert-error {
    @apply bg-red-100 border-red-500 text-red-700;
}

.alert-warning {
    @apply bg-yellow-100 border-yellow-500 text-yellow-700;
}

.alert-info {
    @apply bg-green-100 border-green-500 text-green-700;
}

/* End custom classes */

@tailwind utilities;
