@tailwind base;

@import './base.scss';

@tailwind components;

@import './components.scss';

@tailwind utilities;

@responsive {
    .rotate-180 {
        transform: rotate(180deg);
    }

    .-rotate-180 {
        transform: rotate(-180deg);
    }

    .h-nav {
        min-height: 4rem;
    }

    .h-screen-minus-nav {
        max-height: calc(100vh - 4rem);
    }
}