// Any base CSS customizations are here

// Main content
.main {
    @apply h-screen-minus-nav;
}

// Basic link coloring

a.nav-link {
    @apply text-purple-700;
}

a.nav-link:hover {
    @apply text-purple-500;
}

a.nav-link:visited {
    @apply text-pink-700;
}

// Navbar highlighting

nav a:hover, nav button:hover {
    @apply text-yellow-200;
}

// Images

img.pixeme-image {
    max-width: 1280px;
    max-height: 720px;
}

// Styling for meta pages
.meta-page {
    @apply leading-6;
}

.meta-page h1 {
    @apply text-3xl mb-4;
}

.meta-page h2 {
    @apply text-lg mb-4;
}

.meta-page p {
    @apply mb-5;
}

.meta-page ul {
    @apply mb-4 list-disc list-inside;
}

.meta-page a {
    @apply text-purple-700;
}