// Component definitions go here

// Common classes for rounded buttons
.btn {
    @apply font-bold rounded py-2 px-4;
}

.primary-btn {
    @apply bg-purple-700 text-white text-lg;
}

.primary-btn:hover {
    @apply bg-purple-900;
}

.primary-btn:active {
    @apply shadow-outline;
}

.primary-btn:disabled {
    @apply opacity-50 cursor-not-allowed;
}

.outline-btn {
    @apply bg-white border border-purple-700 text-purple-700 text-lg;
}

.outline-btn:hover {
    @apply bg-gray-100 text-purple-900;
}

.outline-btn:active {
    @apply shadow-outline;
}

.outline-btn:disabled {
    @apply opacity-50 cursor-not-allowed;
}

// Icon buttons need to create a flexbox
.icon-btn {
    @apply inline-flex align-baseline;
}

// Common classes for tables in the admin dashboard
.admin-table-header {
    @apply py-3 px-4 text-left uppercase font-semibold text-sm;
}

.admin-table-cell {
    @apply py-3 px-4 text-left;
}

// Text inputs
.text-input {
    @apply border-gray-500 border appearance-none p-4;
}

.text-input:focus {
    @apply outline-none shadow-outline;
}

.text-input:disabled {
    @apply opacity-50 cursor-not-allowed;
}

// Composite class for a button "row"
.button-row {
    @apply mt-8 flex flex-row flex-wrap items-center justify-evenly;
}

// Toast notifications

// Main toast class
.toast {
    @apply fixed bottom-0 right-0 m-8 w-5/6 max-w-sm;
}

// Have to put the breakpoint overrides in their own block
@screen md {
    .toast {
        @apply w-auto;
    }
}

// Toasts will have a hidden input and a label
.toast>label {
    @apply p-4 shadow-md;
}

// Now the customization per message category
.toast-message > label {
    @apply bg-green-200 border-l-4 border-green-600 text-green-800;
}

.toast-warning > label {
    @apply bg-yellow-200 border-l-4 border-yellow-600 text-yellow-800;
}

.toast-error > label {
    @apply bg-red-200 border-l-4 border-red-600 text-red-800;
}

// CSS for removal when clicked

.toast input:checked ~ * {
    @apply hidden;
}

a.image-tag {
    @apply bg-gray-400 mx-2 px-4 py-2 rounded-md;
}

// Language dropdown

select.pixeme-language-select {
    @apply h-full appearance-none border border-gray-500 bg-white rounded-lg p-2 mr-4;
}

@screen lg {
    select.pixeme-language-select {
        @apply p-4 mr-8;
    }
}

// Other dropdowns

select.pixeme-select {
    @apply w-full h-16 appearance-none block border border-gray-500 bg-white rounded-lg p-2 mr-4;
}

select.pixeme-select:focus {
    @apply outline-none shadow-outline;
}

// Floating action button, Material-style

.action-button {
    bottom: 48px;
    right: 48px;
}

// Account creation wizard styling

.account-create a {
    @apply text-purple-700;
}

.account-create a:hover {
    @apply text-purple-500;
}

// Images in a responsive list
a.image-list-item {
    @apply block w-full p-4;
}

@screen sm {
    a.image-list-item {
        @apply w-1/2;
    }
}

@screen md {
    a.image-list-item {
        @apply w-1/3;
    }
}

@screen lg {
    a.image-list-item {
        @apply w-1/4;
    }
}

@screen xl {
    a.image-list-item {
        @apply w-1/6;
    }
}