{#
    "Change Password" form

    This is just a view to hold the "change password" form for users.
    We make it a separate page in the static site, whether on desktop
    or mobile, because it does alter primary account details.
 #}

{% extends 'views/layout.html' %}
{% from 'components/password_input.html' import password_input %}

{% block title %}{{ _("Change password") }}{% endblock %}

{% block content %}
<div class="container mx-auto py-4 flex flex-col items-center" x-data='changePassword()'>
    <form method="POST" action="{{ url_for('user_view.change_password') }}">
        <header class="font-bold text-2xl text-center py-6">
            {{ _("Change your password") }}
        </header>

        <section class="flex flex-col w-full items-stretch">
            {{ password_input(label=_("Old password"), name='old_password', model='old') }}
            {{ password_input(label=_("New password"), name='new_password', model='password') }}
            {{ password_input(label=_("Retype new password"), name='retype', model='retype') }}

            <div class="button-row">
                <button class="btn primary-btn" type="submit">
                    {{ _("Save") }}
                </button>

                <a href="{{ request.referrer if url_for('user_view.change_password') not in request.referrer else url_for('user_view.view_my_profile') }}">
                    <button class="btn outline-btn" type="button">
                        {{ _("Cancel") }}
                    </button>
                </a>
            </div>
        </section>
    </form>
</div>
<script>
    function changePassword() {
        return {
            old: '',
            password: '',
            retype: '',

            showOld: '',
            showPassword: '',
            showRetype: '',

            isPasswordValid () {
                return this.password.length >= 6 && this.password == this.retype;
            }
        }
    }
</script>
{% endblock %}