{#
    Account creation page

    This is a "wizard" type page, with a stepper to indicate progress.
    At present, there's no graceful degrading, so it requires JS, but
    we can fix that in the future.
 #}

{% extends 'views/layout.html' %}
{% from 'components/text_input.html' import text_input %}
{% from 'components/password_input.html' import password_input %}

{% block title %}{{ _("Create account") }}{% endblock %}

{% block content %}
<div class="container mx-auto py-4 account-create"
    x-data="accountCreate()"
>
    <!-- The stepper part is a navigation, technically. -->
    <nav class="stepper m-4 p-4">
        <!-- Do we need a container div here? -->
        <div class="flex items-center align-middle">
            <!-- Intro -->
            <div class="w-1/5">
                <div class="relative mb-4">
                    <div class="w-8 h-8 mx-auto rounded-full border border-gray-800 bg-white"
                        :class="{ 'bg-purple-700': step >= 0, 'cursor-pointer' : step > 0 }"
                        @click="step = 0"
                    >

                    </div>
                </div>
            </div>

            <!-- Basic ToS, etc., with a link to the full thing.-->
            <div class="w-1/5">
                <div class="relative mb-4">
                    <div class="absolute w-1/2 md:w-2/3 lg:w-3/4 border-t-2 flex-auto border-gray-400"
                        style="top: 50%; transform: translate(-50%, -50%);"
                        :class="{ 'border-purple-700': step >= 1 }"
                    >

                    </div>
                    <div class="w-8 h-8 mx-auto rounded-full border border-gray-800 bg-white"
                        :class="{
                            'bg-purple-700': step >= 1,
                            'cursor-pointer' : step > 1,
                            'cursor-not-allowed': step < 1
                        }"
                        @click="if (step > 1) step = 1"
                    >

                    </div>
                </div>
            </div>

            <!-- Account details -->
            <div class="w-1/5">
                <div class="relative mb-4">
                    <div class="absolute w-1/2 md:w-2/3 lg:w-3/4 border-t-2 flex-auto border-gray-400"
                        style="top: 50%; transform: translate(-50%, -50%);"
                        :class="{ 'border-purple-700': step >= 2 }"
                    >

                    </div>
                    <div class="w-8 h-8 mx-auto rounded-full border border-gray-800 bg-white"
                        :class="{
                            'bg-purple-700': step >= 2,
                            'cursor-pointer' : step > 2,
                            'cursor-not-allowed': step < 2
                        }"
                        @click="if (step > 2) step = 2"
                    >

                    </div>
                </div>
            </div>

            <!-- Language fluencies-->
            <div class="w-1/5">
                <div class="relative mb-4">
                    <div class="absolute w-1/2 md:w-2/3 lg:w-3/4 border-t-2 flex-auto border-gray-400"
                        style="top: 50%; transform: translate(-50%, -50%);"
                        :class="{ 'border-purple-700': step >= 3 }"
                    >

                    </div>
                    <div class="w-8 h-8 mx-auto rounded-full border border-gray-800 bg-white"
                        :class="{
                            'bg-purple-700': step >= 3,
                            'cursor-pointer' : step > 3,
                            'cursor-not-allowed': step < 3
                        }"
                        @click="if (step > 3) step = 3"
                    >

                    </div>
                </div>
            </div>

            <!-- Welcome -->
            <div class="w-1/5">
                <div class="relative mb-4">
                    <div class="absolute w-1/2 md:w-2/3 lg:w-3/4 border-t-2 flex-auto border-gray-400"
                        style="top: 50%; transform: translate(-50%, -50%);"
                        :class="{ 'border-purple-700': step >= 4 }"
                    >

                    </div>
                    <div class="w-8 h-8 mx-auto rounded-full border border-gray-800 bg-white"
                        :class="{
                            'bg-purple-700': step >= 4,
                            'cursor-pointer' : step > 4,
                            'cursor-not-allowed': step < 4
                        }"
                    >

                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!--
        Each page's content is a separate div. They're all loaded together,
        and we use the `step` variable to control which one is shown.
    -->

    <form action="{{ url_for('account_view.handle_create_account') }}" method="post">
    <div class="bg-purple-200 mx-auto px-4 md:px-8 lg:px-12 py-4">
        <div x-show="step == 0">
            <p class="md:w-2/3 md:mx-auto py-2">
                {{_(
                    "Pixeme is a community for exploring languages through pictures. We're always growing "
                    "and looking for new members to share their knowledge. If you're a fluent speaker of "
                    "at least one language, you have a camera, and you'd like to help, then follow this "
                    "simple wizard to get your Pixeme account started."
                ) }}
            </p>
            <p class="md:w-2/3 md:mx-auto py-2">
                {{ _(
                    "By creating a Pixeme account, you will have access to our full site, where you can "
                    "upload images, create translation exercises, tag other users' pictures, and more. "
                    "Accounts are free, and we will not sell any of your data, including anything you "
                    "upload."
                ) }}
            </p>
        </div>

        <div x-show="step == 1">
            <p class="md:w-2/3 md:mx-auto py-2">
                {{ _( 
                    "Check out our full <a href='%(tos)s'>Terms of Service</a>, our <a href='%(privacy)s'>"
                    "Privacy Policy</a> and our <a href='%(cookie)s'>Cookie Policy</a> for complete information "
                    "about our site's rules."
                , tos=url_for('site_view.tos'), privacy=url_for('site_view.privacy_policy'),
                    cookie=url_for('site_view.cookie_policy'))}}
            </p>

            <p class="md:w-2/3 md:mx-auto py-2">
                {{ _(
                    "This is only a brief summary of rules for our users."
                )}}
            </p>

            <ul class="md:w-2/3 md:mx-auto py-2 pl-4 list-disc">
                <li>{{ _("Only post pictures you own or have permission to upload.") }}</li>
                <li>{{ _("Don't post any images considered adults-only, including pornographic material.") }}</li>
                <li>{{ _("Don't post anything that would be illegal in your country.") }}</li>
                <li>{{ _("Be considerate. Don't use the tags, captions, or examples to disparage other users.") }}</li>
                <li>{{ _("Be honest. Please use proper and correct language for any images you describe.") }}</li>
            </ul>

            <p class="pt-6 md:w-2/3 md:mx-auto">
                <input type="checkbox" name="tosAccept" x-model="tosAccept" />
                <label for="tosAccept">{{ _("I agree to the Terms of Service") }}</label>
            </p>
        </div>

        <div x-show="step == 2" class="w-full md:w-2/3 lg:w-1/2 mx-auto px-8">
            <p class="md:w-2/3 md:mx-auto pt-2 pb-6">{{_(
                "You'll need a username and password. You also need to provide an email address, "
                "but we won't send anything to this address without your consent. "
            ) }}</p>

            {{ text_input(label=_('Username'), name='username', model=True, change='updateUsername') }}

            {{ text_input(label=_('Email address'), name='email', type='email', model=True) }}

            {{ password_input(label=_('Password'), name='password', model='password') }}

            {{ password_input(label=_('Retype password'), name='retype', model='retype') }}
        </div>

        <div x-show="step == 3">
            <p class="md:w-2/3 md:mx-auto py-4">
                {{ _( 
                    "Now tell us a little bit about yourself. This part is all optional, but you can "
                    "provide as much information as you'd like our community to see. Remember that some "
                    "language-specific actions are only available to those who say they are fluent in "
                    "that language. "
                )}}
            </p>

            {{ text_input(label=_('Your name'), name='name', model=True) }}

            <!-- Language select -->
            <fieldset>
                {% for lang, count in languages %}
                <input type="checkbox" name="fluencies[]" value="{{lang.id}}" id="fluencies-{{lang.tag}}" />
                <label for="fluencies-{{lang.tag}}">{{ lang.english }}</label>
                {% endfor %}
            </fieldset>
        </div>

        <div x-show="step == 4">
            <p class="md:w-2/3 md:mx-auto py-4">
                {{ _(
                    "You're ready to go! Please confirm that your account information is correct, then "
                    "click the Create Account button below. If you need to change anything, use the Back "
                    "button to return to previous parts of this wizard."
                ) }}
            </p>
        </div>
    </div>

    <!--
        Navigation buttons: forward and back. The Back button is a Cancel
        button on the first step, while the Next button becomes Create on
        the last step.
    -->
    <div class="flex bg-purple-200 mx-auto px-4 md:px-8 lg:px-12 py-4">
        <div class="px-12">
            <template x-if="step == 0">
                <a href="{{ url_for('site_view.home') }}">
                <button class="btn outline-btn" type="button">
                    {{ _("Cancel") }}
                </button>
                </a>
            </template>
            <template x-if="step != 0">
                <button class="btn outline-btn" type="button"
                    @click="step -= 1"
                >
                    {{ _("Back") }}
                </button>
            </template>
        </div>

        <div class="ml-auto px-12">
            <template x-if="step < 4">
                <button class="btn primary-btn" type="button"
                    @click="step += 1"
                    :disabled="step == 1 ? !tosAccept :
                        step == 2 ? !(isUsernameValid() && /.+@.+/.test(email) && isPasswordValid()) : false"
                >
                    {{ _("Next") }}
                </button>
            </template>
            <template x-if="step == 4">
                <button class="btn primary-btn" type="submit">
                    {{ _("Create account") }}
                </button>
            </template>
        </div>
    </div>
    </form>
</div>
<script>
    function accountCreate () {
        return {
            step: 0,
            account : {
            },
            username: '',
            email: '',
            password: '',
            retype: '',
            name: '',
            fluencies: [],
            showPassword: false,
            showRetype: false,
            tosAccept: false,
            usernameExists: false,

            updateUsername () {
                if (this.username) {
                    fetch("{{ url_for('account.username_exists', username='') }}" + this.username)
                        .then(res => res.json())
                        .then(data => {
                            this.usernameExists = !!data;
                        });
                }
            },

            isUsernameValid () {
                return this.username != '' && !this.usernameExists;
            },

            isPasswordValid () {
                return this.password.length >= 6 && this.password == this.retype;
            },
        }
    }
</script>
{% endblock %}