{#
    "Explore tags" page

    This is just a kind of "what's new/popular" landing page for tags.
 #}

 {% extends 'views/layout.html' %}
 
 {% block title %}{{ _("Explore tags") }}{% endblock %}

 {% block content %}
 <div class="py-2 md:py-4 flex items-center justify-center"
    x-data="exploreTags()"
 >
    <div class="w-full">
    <section class="w-full px-6">
        <h1 class="mb-8 text-xl text-center">
            {{ _("Newest tags") }}
        </h1>
        <ul class="list-none inline-flex flex-wrap text-lg">
            {% for tag in newest %}
            <li class="mx-4">
                <a href="{{ url_for('tag_view.get_by_text', text=tag.text) }}">{{ tag.text }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
    <section class="w-full px-6">
        <h1 class="mb-8 text-xl text-center">
            {{ _("Popular tags") }}
        </h1>
        <ul class="list-none inline-flex flex-wrap text-lg">
            {% for tag, count in popular %}
            <li class="mx-4">
                <a href="{{ url_for('tag_view.get_by_text', text=tag.text) }}">{{ tag.text }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
    </div>
 </div>
 <script>
    function exploreTags() {
        return {

        }
    }
 </script>
 {% endblock %}