{#
    The Pixeme front page. This is where new users first interact with
    our platform, so we want it to be engaging and informative, without
    overwhelming them.
 #}
{% extends 'views/layout.html' %}

{% block title %}{{ _("Home") }}{% endblock %}

{% block content %}
<div class="max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg mx-auto px-4"
    x-data="frontPage()">
    <p class="my-8 mx-4 lg:mx-0">
        {{ _("Welcome to Pixeme, an open community dedicated to visual language learning through pictures.") }}
        {{ _("Anyone can browse the images, captions, and translations our community has created.") }}
        {{ _("""If you would like to contribute your own, please <a
            href=%(signup)s class='nav-link'>sign up</a> or <a href=%(login)s class='nav-link'>log in</a>.""",
            signup=url_for('account_view.create_account'), login=url_for('account_view.login')) }}
    </p>

    <p>
        {{ _("We currently have %(user_count)s speaking %(lang_count)s here, but we'd always like more!",
        user_count=ngettext("%(num)d user", "%(num)d users", user_count),
        lang_count=ngettext("%(num)d language", "%(num)d languages", language_count))}}
    </p>
    <br />

    <!-- Activity boxes-->
    <div class="flex flex-col md:flex-row flex-wrap px-4">
        <!-- Active users-->
        <div class="w-full md:w-1/2 lg:w-1/4 py-4 lg:py-0">
            <h2 class="text-purple-800 font-semibold">
                {{ _("Most active users") }}
            </h2>
            <ul>
                {% for u, score in active_users %}
                <li>
                    <a href="{{ url_for('user_view.get_user', id=u.id) }}">{{ u.name }}</a>
                </li>
                {% else %}
                <li>
                    {{ _("No users found") }}
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="w-full md:w-1/2 lg:w-1/4 py-4 lg:py-0">
            <h2 class="text-purple-800 font-semibold">
                {{ _("New users") }}
            </h2>
            <ul>
                {% for u in new_users %}
                <li>
                    <a href="{{ url_for('user_view.get_user', id=u.id) }}">{{ u.name }}</a>
                </li>
                {% else %}
                <li>
                    {{ _("No users found") }}
                </li>
                {% endfor %}               
            </ul>
        </div>

        <div class="w-full md:w-1/2 lg:w-1/4 py-4 lg:py-0">
            <h2 class="text-purple-800 font-semibold">
                {{ _("Most popular languages") }}
            </h2>
            <ul>
                {% for l, count in popular_languages %}
                <li>
                    <a href="{{ url_for('language_view.get_by_id', id=l.id) }}">
                        {{ l.english }} - {{ ngettext("%(num)d speaker", "%(num)d speakers", count) }}
                    </a>
                </li>
                {% else %}
                <li>
                    {{ _("No languages found") }}
                </li>
                {% endfor %}               
            </ul>
        </div>

        <div class="w-full md:w-1/2 lg:w-1/4 py-4 lg:py-0">
            <h2 class="text-purple-800 font-semibold">
                {{ _("Most popular tags") }}
            </h2>
            <ul>
                {% for t, count in popular_tags %}
                <li>
                    <a href="{{ url_for('tag_view.get_by_text', text=t.text) }}">
                        {{ t.text }} - {{ ngettext("%(num)d image", "%(num)d images", count) }}
                    </a>
                </li>
                {% else %}
                <li>
                    {{ _("No tags found") }}
                </li>
                {% endfor %}               
            </ul>
        </div>
    </div>

    <!-- Sample images -->
    <section class="mt-8 w-full flex flex-row flex-wrap">
        {% for image in sample_images %}
        <figure class="m-4 w-1/5">
            <a href="{{ url_for('image_view.get_image', id=image.id) }}">
                <img src="{{ get_image_url(image.filename) }}" alt="{{ image.caption }}"
                    height="200" width="200">
            </a>
            {% if image.phrases|length > 0 %}
            <figcaption class="text-center">
                {% if image.phrases|length == 1 %}
                <a href="{{ url_for('phrase_view.get_by_id', id=image.phrases[0].id) }}">
                    {{ image.phrases[0].text }}</a> ({{ image.phrases[0].language.english }})
                {% else %}
                {% set p = random(image.phrases) %}
                <a href="{{ url_for('phrase_view.get_by_id', id=p.id) }}">
                    {{ ngettext("%(phrase)s and %(num)d other", "%(phrase)s and %(num)d others",
                    image.phrases|length - 1, phrase=p.text) }}
                </a>
                {% endif %}
            </figcaption>
            {% endif %}
        </figure>
        {% endfor %}
    </section>
</div>
<script>
    function frontPage() {
        /* Load the languages list into local storage for caching purposes. */
        Pixeme.fetchLanguages("{{ url_for('language.get_languages') }}");
        
        return {

        }
    }
</script>
{% endblock %}