{% extends 'base.html' %}
{% from 'components/accordion.html' import accordion %}
{% from 'components/navigation_list.html' import navigation_list %}
{% from 'components/search_dropdown.html' import search_dropdown %}
{% from 'components/image_gallery.html' import image_gallery %}

{% block title %}Test page{% endblock %}

{% block content %}
<div x-data="{}">
<p class="font-bold text-2xl text-blue-500">Hello world!</p>
<p>
    <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
        <path :d="mdiIcons.mdiEye" />
    </svg>
</p>
{# {{
    accordion([
        { 'title': 'Test 1', 'content': "This is a test" },
        { 'title': 'Test 2', 'content': "Another test" },
        { 'title': 'Test 3', 'content': "Lorem ipsum blah blah blah..."},
        { 'title': 'Test 4', 'content': navigation_list([
            { 'text': 'Home', 'route': 'index' }
        ])}
    ])
}} #}

{{
    search_dropdown(
        'tag',
        'tag_view.search',
        'tag.search',
        label="Find captioned images by tag",
        placeholder='Search for a tag')
}}
<p>Text</p>
</div>
{% endblock %}