{#
    Image index page

    This is the core image directory. It should show a variety of images
    to engage users.

    Note that user-facing parts refer to images as "pictures". This is
    intentional, as I feel it's a more welcoming term.
 #}

{% extends 'views/layout.html' %}

{% block title %}{{ _("Explore pictures") }}{% endblock %}

{% block content %}
<div class="container" x-data="exploreImages()">
    <header>
        <h1>{{ ngettext("Explore %(num)d Pixeme picture",
            "Explore %(num)d Pixeme pictures", images|length) }}</h1>
    </header>

    <section>
        <header>
            <h1>{{ _("Newest pictures") }}</h1>
        </header>

        <div class="flex flex-row flex-wrap justify-evenly">
            {% for image in newest %}
            <a href="{{ url_for('image_view.get_image', id=image.id) }}"
                class="image-list-item"
            >
                <figure class="w-full">
                    <img src="{{ image_url_for(image)}}" alt="{{image.caption}}" class="w-full h-full" />
                    <figcaption>{{image.caption}}</figcaption>
                </figure>
            </a>
            {% endfor %}
        </div>
    </section>

    <section>
        <header>
            <h1>{{ _("Most translated") }}</h1>
        </header>

        <div class="flex flex-row flex-wrap justify-evenly">
            {% for image in translated %}
            <a href="{{ url_for('image_view.get_image', id=image.id) }}"
                class="image-list-item"
            >
                <figure class="w-full">
                    <img src="{{ image_url_for(image)}}" alt="{{image.caption}}" class="w-full h-full" />
                    <figcaption>{{image.caption}}</figcaption>
                </figure>
            </a>
            {% endfor %}
        </div>
    </section>

    <section>
        <header>
            <h1>{{ _("Most tagged") }}</h1>
        </header>

        <div class="flex flex-row flex-wrap justify-evenly">
            {% for image in tagged %}
            <a href="{{ url_for('image_view.get_image', id=image.id) }}"
                class="image-list-item"
            >
                <figure class="w-full">
                    <img src="{{ image_url_for(image)}}" alt="{{image.caption}}" class="w-full h-full" />
                    <figcaption>{{image.caption}}</figcaption>
                </figure>
            </a>
            {% endfor %}
        </div>
    </section>
</div>
<script>
    function exploreImages() {
        return {

        }
    }
</script>
{% endblock %}