{#
    Image view page

    This page displays a Pixeme image, including its caption,
    any associated phrases and tags, an optional description,
    and all stored metadata. Admins/moderators are allowed to
    edit much of this, while the posting user may perform some
    operations.

    This is a "core" page, meaning that it is one of the primary
    user-facing pages in the Pixeme platform. Any changes to its
    layout should be considered carefully.
 #}

{% extends 'views/layout.html' %}
{% from 'components/add_tag_dropdown.html' import add_tag_dropdown %}

{% block title %}{{ image.caption if image }}{% endblock %}

{% block content %}
{% if image %}
<div>
    <!-- Image display component -->
    <div class="flex flex-col max-w-screen-xl px-4"
        x-data="imageView()"
    >
        <!-- The image, with caption -->
        <figure class="w-5/6 mx-auto text-center bg-gray-300 py-4 mb-4">
            <a href="{{ image_url }}" target="_blank">
                <img src="{{ image_url }}" alt="{{ image.caption }}" class="mx-auto"
                />
            </a>
            <figcaption>{{ image.caption }}</figcaption>
        </figure>

        <!-- Phrases, with a language dropdown or something-->
        <div class="flex flex-row w-full md:w-3/4 md:ml-6 md:pl-6 h-24 py-4 align-middle justify-evenly">
            <div class="w-full md:w-1/2 h-full flex border-l border-purple-700">
                <p class="ml-6 my-auto" x-text="phrases[selectedPhraseTag].text"></p>
            </div>

            <select name="language-select" id="language-select"
                class="pixeme-language-select w-full md:w-1/2"
                @change="onSelect"
            >
                <!--
                    NOTE: The simple way doesn't seem to work, probably due to
                    something in the internals of Alpine's binding function. That
                    is black magic, as far as I'm concerned; their Github issue #658
                    shows a similar problem, but no one can seem to reproduce it. *I*
                    can't get it to happen in a Codepen.

                    It's okay, though. The workaround below is a little slower, but it
                    gets the job done.
                -->
                <!-- <template x-for="lang in languages" :key="lang">
                    <template x-if="phrases[lang.tag]">
                        <option :value="lang.tag"
                        x-text="lang.english + ' | ' + lang.native" />
                    </template>
                </template> -->
                <template x-for="[key, value] of Object.entries(phrases)" :key="key">
                    <option :value="key"
                        x-text="getLanguageByTag(key).english + ' | ' + getLanguageByTag(key).native"
                    />
                </template>
            </select>
        </div>

        <template x-if="phrases[selectedPhraseTag]">
            <div class="w-full md:w-3/4 md:ml-6 md:pl-6 h-12 py-2 align-middle">
                <template x-if="phrases[selectedPhraseTag].status === '{{ PhraseStatus.proposed }}'">
                    <p>{{ _('This phrase has been <em class="phrase-status">proposed</em>.') }}</p>
                </template>
                <template x-if="phrases[selectedPhraseTag].status === '{{ PhraseStatus.accepted }}'">
                    <p>{{ _('This phrase has been <em class="phrase-status">accepted</em>.') }}</p>
                </template>
                <template x-if="phrases[selectedPhraseTag].status === '{{ PhraseStatus.rejected }}'">
                    <p>{{ _('This phrase has been <em class="phrase-status">rejected</em>.') }}</p>
                </template>
                <template x-if="phrases[selectedPhraseTag].status === '{{ PhraseStatus.questioned }}'">
                    <p>{{ _('The accuracy of this phrase has been called into question.') }}</p>
                </template>
            </div>
        </template>

        <!--
            Phrase actions - Registered users can question/accept/reject (if they have fluency),
            while moderators and admins may have other options available.
        -->
        {% if 'user' in session %}
        <div class="flex flex-row md:w-4/5 md:mx-auto md:px-6 py-4 align-middle justify-around">
            {% if can_edit_phrase() %}
            <button class="btn primary-btn px-4 md:px-8"
            >
                {{ _("Accept") }}
            </button>

            <button class="btn outline-btn px-4 md:px-8"
            >
                {{ _("Question") }}
            </button>

            <button class="btn outline-btn bg-red-700 text-white border-red-700 px-4 md:px-8"
            >
                {{ _("Reject") }}
            </button>
            {% endif %}
            {% if session['account'].role in (AccountRole.admin, AccountRole.moderator) %}
            {% endif %}
        </div>
        {% endif %}

        <!-- Tags -->
        <div class="flex flex-row items-center justify-center py-4" id="image-tags-list"
            @pixeme-tag-selected.document="onTagAdded"
        >
            {% for tag in image.tags %}
            <a href="{{ url_for('tag_view.get_by_text', text=tag.text) }}" class="image-tag">
                {{ tag.text }}
            </a>
            {% endfor %}
            {% if 'user' in session %}
            <a class="image-tag cursor-pointer" @click="showTagEdit = !showTagEdit">
                <span class="flex items-center" x-data="{}">
                    <svg class="fill-current h-6 w-6" viewBox="0 0 24 24">
                        <path :d="window.mdiIcons.mdiPlus" />
                    </svg>
                </span>
            </a>
            {% endif %}
        </div>
        <template x-if="showTagEdit">
            <div class="relative max-w-sm mx-auto">
                {{ add_tag_dropdown('addTag', _('Add a new tag')) }}
            </div>
        </template>
        <template id="added-tag">
            <a href="{{ url_for('tag_view.get_by_text', text='') }}" class="image-tag">
            </a>
        </template>
        <template x-if="tagsAdded">
            <div class="mx-auto py-4">
                <button class="btn outline-btn">
                    {{ _("Save tags") }}
                </button>
            </div>
        </template>

        <!-- Description -->
        {% if image.description %}
        <div class="py-4">
            <p>{{ image.description }}</p>
        </div>
        {% endif %}

        <!-- Metadata -->
        <div class="py-4 text-sm">
            {% if image.image_metadata %}
            <ul>
                {% for key, value in image.image_metadata.iteritems() %}
                <li>
                    <p>
                        <span class="font-semibold pr-4">{{ key }}</span>
                        {{ value }}
                    </p>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            <p>{{ _("Posted by %(user)s at %(time)s", user=image.uploader.name,
                time=image.timestamp|datetimeformat) }}</p>
        </div>
    </div>
    <script>
        function imageView() {
            let languagesFromStorage = [];

            if (localStorage.getItem('languages')) {
                languagesFromStorage = JSON.parse(localStorage.getItem('languages'));
            }

            return {
                selectedPhraseTag: "{{ session['locale'] if 'locale' in session else 'en-US' }}",
                showTagEdit: false,
                tagsAdded: false,

                phrases: {
                    {% for phrase in image.phrases if phrase.status == PhraseStatus.accepted %}
                        "{{ phrase.language.tag }}": {
                            'id': "{{ phrase.id }}",
                            'text': "{{ phrase.text }}",
                            'status': "{{ phrase.status }}"
                        },
                    {% endfor %}

                    {% if 'account' in session and session['account'].role in (
                        AccountRole.admin, AccountRole.moderator) %}
                        {% for phrase in image.phrases if phrase.status == PhraseStatus.proposed %}
                            "{{ phrase.language.tag }}": {
                                'id': "{{ phrase.id }}",
                                'text': "{{ phrase.text }}",
                                'status': "{{ phrase.status }}"
                            },
                        {% endfor %}
                    {% endif %}
                },

                languages: languagesFromStorage,

                getLanguageByTag (tag) {
                    const result = Array.prototype.filter.call(this.languages,
                        el => el.tag === tag
                    );

                    if (result.length) {
                        return result[0];
                    } else {
                        return undefined;
                    }
                },

                onSelect (evt) {
                    this.selectedPhraseTag = evt.target.value;
                },

                onTagAdded (evt) {
                    const {id, text} = evt.detail;
                    this.tagsAdded = true;
                    let tagList = document.querySelector("#image-tags-list");
                    let template = document.querySelector("#added-tag");

                    let clone = template.content.cloneNode(true);
                    let a = clone.querySelector("a.image-tag");
                    a.href += text;
                    a.textContent = text;

                    /*
                        The div's text counts as a child node, so we technically
                        want this to go in the *next-to-last* position. `before()`
                        is technically not standard, so...
                    */
                    let al = tagList.querySelectorAll('a.image-tag');
                    tagList.insertBefore(a, al[al.length - 1]);
                    this.showTagEdit = false;
                }
            }
        }
    </script>
</div>
{% else %}
{#
    At the moment, trying to load a non-existent image page is a 404.
    If we'd like to change that, we should put the error page here.
#}
{% endif %}
{% endblock %}