{#
    Language view page

    This is the "home" page for a language, showing basic information
    and links to images, phrases, etc., in that language. For the most
    part, it's all generated, but we might have some admin-editable
    info on here, too.

    This is a "core" Pixeme page. Any layout changes should be made
    with care.
 #}

{% extends 'views/layout.html' %}

{% block title %}{{ language.english if language }}{% endblock %}

{% block content %}
{% if language %}
<div class="flex flex-col max-w-screen-xl px-4"
    x-data="languageView()"
>
    <div class="mb-6 md:mb-12">
        <!-- Language name, in English and its native form -->
        <h1>
            {{ language.english }} - {{ language.native }}
        </h1>

        <!-- Other info-->
        <p class="py-4 text-sm">
            {{ ngettext("%(num)d speaker", "%(num)d speakers", language.speakers|length) }}
        </p>

        <br class="py-8" />

        <!-- Phrases -->
        <p class="py-4 text-sm">
            {{ ngettext("%(num)d phrase", "%(num)d phrases", language.phrases|length) }}
        </p>
    </div>

    <div>
        <!-- Maybe put like a mini-gallery or something here? -->
    </div>
</div>
<script>
    function languageView() {
        return {

        }
    }
</script>
{% else %}
{#
    If we want to do something other than a generic 404 page,
    put it here.
 #}
{% endif %}
{% endblock %}