{#
    Language index page

    This is the "explore" page for languages. It's a core page,
    but it still needs some work.
 #}

{% extends 'views/layout.html' %}

{% block title %}{{ _("Explore languages") }}{% endblock %}

{% block content %}
<div class="container" x-data="exploreLanguages()">
    <header>
        <h1>{{ ngettext("Explore %(num)d language on Pixeme",
            "Explore %(num)d languages on Pixeme", languages|length) }}</h1>
    </header>

    <section>
        <div class="w-full divide-y-2">
            <!-- TODO: Pagination and better sectioning-->
            {% for lang in languages %}
            <div class="flex w-full py-2 align-middle">
                <a href="{{ url_for('language_view.get_by_id', id=lang.id) }}"
                    class="flex-grow" title="{{lang.native}}"
                >
                    {{ lang.english }}
                </a>
                <span>
                    {{ ngettext("%(num)d speaker", "%(num)d speakers", lang.speakers|length) }}
                </span>
                <span>
                    {{ ngettext("%(num)d phrase", "%(num)d phrases", lang.phrases|length) }}
                </span>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
<script>
    function exploreLanguages () {
        return {
            
        }
    }
</script>
{% endblock %}