{#
    Basic core layout for user-facing pages
 #}

{% extends 'base.html' %}

{% from 'components/icon_button.html' import icon_button %}

{# Note that we're embedding the SVG path directly. That way, it works even without JS. #}
{% set mdi_icon_paths = {
    'account': "M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z",
    'cogs': "M15.9,18.45C17.25,18.45 18.35,17.35 18.35,16C18.35,14.65 17.25,13.55 15.9,13.55C14.54,13.55 13.45,14.65 13.45,16C13.45,17.35 14.54,18.45 15.9,18.45M21.1,16.68L22.58,17.84C22.71,17.95 22.75,18.13 22.66,18.29L21.26,20.71C21.17,20.86 21,20.92 20.83,20.86L19.09,20.16C18.73,20.44 18.33,20.67 17.91,20.85L17.64,22.7C17.62,22.87 17.47,23 17.3,23H14.5C14.32,23 14.18,22.87 14.15,22.7L13.89,20.85C13.46,20.67 13.07,20.44 12.71,20.16L10.96,20.86C10.81,20.92 10.62,20.86 10.54,20.71L9.14,18.29C9.05,18.13 9.09,17.95 9.22,17.84L10.7,16.68L10.65,16L10.7,15.31L9.22,14.16C9.09,14.05 9.05,13.86 9.14,13.71L10.54,11.29C10.62,11.13 10.81,11.07 10.96,11.13L12.71,11.84C13.07,11.56 13.46,11.32 13.89,11.15L14.15,9.29C14.18,9.13 14.32,9 14.5,9H17.3C17.47,9 17.62,9.13 17.64,9.29L17.91,11.15C18.33,11.32 18.73,11.56 19.09,11.84L20.83,11.13C21,11.07 21.17,11.13 21.26,11.29L22.66,13.71C22.75,13.86 22.71,14.05 22.58,14.16L21.1,15.31L21.15,16L21.1,16.68M6.69,8.07C7.56,8.07 8.26,7.37 8.26,6.5C8.26,5.63 7.56,4.92 6.69,4.92A1.58,1.58 0 0,0 5.11,6.5C5.11,7.37 5.82,8.07 6.69,8.07M10.03,6.94L11,7.68C11.07,7.75 11.09,7.87 11.03,7.97L10.13,9.53C10.08,9.63 9.96,9.67 9.86,9.63L8.74,9.18L8,9.62L7.81,10.81C7.79,10.92 7.7,11 7.59,11H5.79C5.67,11 5.58,10.92 5.56,10.81L5.4,9.62L4.64,9.18L3.5,9.63C3.41,9.67 3.3,9.63 3.24,9.53L2.34,7.97C2.28,7.87 2.31,7.75 2.39,7.68L3.34,6.94L3.31,6.5L3.34,6.06L2.39,5.32C2.31,5.25 2.28,5.13 2.34,5.03L3.24,3.47C3.3,3.37 3.41,3.33 3.5,3.37L4.63,3.82L5.4,3.38L5.56,2.19C5.58,2.08 5.67,2 5.79,2H7.59C7.7,2 7.79,2.08 7.81,2.19L8,3.38L8.74,3.82L9.86,3.37C9.96,3.33 10.08,3.37 10.13,3.47L11.03,5.03C11.09,5.13 11.07,5.25 11,5.32L10.03,6.06L10.06,6.5L10.03,6.94Z",
    'image': "M8.5,13.5L11,16.5L14.5,12L19,18H5M21,19V5C21,3.89 20.1,3 19,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19Z",
    'message_image_outline': "M20 2H4C2.9 2 2 2.9 2 4V22L6 18H20C21.11 18 22 17.11 22 16V4C22 2.9 21.11 2 20 2M20 16H6L4 18V4H20M5 14L8.5 9.5L11 12.5L14.5 8L19 14",
    'pound': "M5.41,21L6.12,17H2.12L2.47,15H6.47L7.53,9H3.53L3.88,7H7.88L8.59,3H10.59L9.88,7H15.88L16.59,3H18.59L17.88,7H21.88L21.53,9H17.53L16.47,15H20.47L20.12,17H16.12L15.41,21H13.41L14.12,17H8.12L7.41,21H5.41M9.53,9L8.47,15H14.47L15.53,9H9.53Z",
    'translate': "M12.87,15.07L10.33,12.56L10.36,12.53C12.1,10.59 13.34,8.36 14.07,6H17V4H10V2H8V4H1V6H12.17C11.5,7.92 10.44,9.75 9,11.35C8.07,10.32 7.3,9.19 6.69,8H4.69C5.42,9.63 6.42,11.17 7.67,12.56L2.58,17.58L4,19L9,14L12.11,17.11L12.87,15.07M18.5,10H16.5L12,22H14L15.12,19H19.87L21,22H23L18.5,10M15.88,17L17.5,12.67L19.12,17H15.88Z"
}
%}

{% macro icon_entry(text, path) %}
{# This isn't quite the same as the "icon button" component, and we only need it here. #}
    <span class="w-1/4 flex items-center pr-6">
        <svg class="fill-current h-6 w-6" viewBox="0 0 24 24">
            <path d="{{ path }}" />
        </svg>
    </span>
    <span>{{ text }}</span>
{% endmacro %}

{% macro top_icon(path, link) %}
{# Icon-only button for the top bar #}
    <a href="{{ url_for(link) }}" class="p-4">
        <span>
            <svg class="fill-current h-6 w-6" viewBox="0 0 24 24">
                <path d="{{ path }}" />
            </svg>
        </span>
    </a>
{% endmacro %}

{% macro separator() %}
<span class="px-2">&middot;</span>
{% endmacro %}

{% block sidebar %}
<div class="w-full flex flex-col mt-8 font-semibold text-xl text-purple-700">
    <ul class="list-none leading-loose w-3/4 mx-auto">
        {% if 'user' in session %}
        <li class="py-4">
            <a href="{{ url_for('image_view.upload_image') }}">
                <button class="p-0 bg-purple-700 rounded-full hover:bg-purple-500 active:shadow-lg mouse shadow
                    transition ease-in duration-200 focus:outline-none text-white w-full"
                >
                    <span class="text-sm">
                        <svg class="inline fill-current m-3 h-6 w-6" viewBox="0 0 24 24">
                            <path d="{{ mdi_icon_paths['message_image_outline'] }}" />
                        </svg>
                        {{ _('Post an image') }}
                    </span>
                </button>
            </a>
        </li>
        {% endif %}
        <li>
            <a href="{{ url_for('image_view.explore_images') }}"
                class="w-full inline-flex hover:text-purple-500"
            >
                {{ icon_entry(_("Pictures"), mdi_icon_paths['image']) }}
            </a>
        </li>
        <li>
            <a href="{{ url_for('language_view.explore_languages') }}"
                class="w-full inline-flex hover:text-purple-500"
            >
                {{ icon_entry(_("Languages"), mdi_icon_paths['translate']) }}
            </a>
        </li>
        <li>
            <a href="{{ url_for('tag_view.explore_tags') }}"
                class="w-full inline-flex hover:text-purple-500"
            >
                {{ icon_entry(_("Tags"), mdi_icon_paths['pound']) }}
            </a>
        </li>
        {% if 'user' in session %}
        <li>
            <a href="{{ url_for('user_view.view_my_profile') }}"
                class="w-full inline-flex hover:text-purple-500"
            >
                {{ icon_entry(_("Profile"), mdi_icon_paths['account']) }}
            </a>
        </li>
        <li>
            {% if session['account']['role'] == 'admin' %}
                <a href="{{ url_for('admin_view.home') }}"
                    class="w-full inline-flex hover:text-purple-500"
                >
                {{ icon_entry(_("Admin"), mdi_icon_paths['cogs']) }}
                </a>
            {% endif %}
        </li>
        {% endif %}
    </ul>
    <div class="w-full mx-auto px-8 py-4 flex flex-wrap justify-center
        text-sm text-purple-500"
    >
        <a href="{{ url_for('site_view.home') }}">
            {{ _("Home") }}
        </a>

        {{ separator() }}

        <a href="{{ url_for('site_view.about') }}">
            {{ _("About") }}
        </a>

        {{ separator() }}

        <a href="{{ url_for('site_view.help_base') }}">
            {{ _ ("Help") }}
        </a>

        {{ separator() }}

        <a href="{{ url_for('site_view.tos') }}">
            {{ _("Terms") }}
        </a>

        {{ separator() }}

        <a href="{{ url_for('site_view.privacy_policy') }}">
            {{ _("Privacy") }}
        </a>

        {{ separator() }}

        <a href="{{ url_for('site_view.cookie_policy') }}">
            {{ _("Cookies") }}
        </a>
    </div>
    <div class="w-full mx-auto px-8 flex flex-wrap justify-center
        text-sm text-gray-500"
    >
        {{ _(
            "© %(copyyear)s Pixeme Project",
            copyyear=_("2020") if today.year == 2020 else _("2020-%(curyear)s", curyear=today.year)
        ) }}
    </div>
</div>
{% endblock %}

{% block topbar %}
<div class="w-full flex flex-no-wrap justify-evenly bg-white text-purple-700 border-b border-purple-700">
    {{ top_icon(mdi_icon_paths['image'], 'image_view.explore_images') }}
    {{ top_icon(mdi_icon_paths['translate'], 'language_view.explore_languages') }}
    {{ top_icon(mdi_icon_paths['pound'], 'tag_view.explore_tags') }}

    {% if 'user' in session %}
    {{ top_icon(mdi_icon_paths['message_image_outline'], 'image_view.upload_image') }}
    {{ top_icon(mdi_icon_paths['account'], 'user_view.view_my_profile') }}
    {% endif %}
</div>
{% endblock %}

{% block extra %}
{#
    This is intended for anything that lives outside the normal flow of the page.
    Something like a floating button, perhaps.
 #}
{% endblock %}

{% block footer %}
{#
    The main layout is infinite-scroll, as much as I hate it. Thus, no need for
    a footer. But we'll still keep the block, just in case something finds a
    use for it.
 #}
{% endblock %}