{#
    Phrase view page

    This is a details page for a phrase. Phrases in Pixeme are single
    words or short clauses intended to describe an image. They're one
    of the two main concepts, so this is a "core" page.
 #}

{% extends 'views/layout.html' %}

{% from 'components/image_gallery.html' import image_gallery %}

{% block content %}
{% if phrase %}
<div class="flex flex-col max-w-screen-xl px-4"
    x-data="phraseView()"
>
    <div class="mb-6 md:mb-12">
        <!-- Phrase text -->
        <h1>
            {{ phrase.text }}
        </h1>

        <!--
            Phrase language - this is necessary to resolve ambiguity, as different
            languages can give different meanings to the same phrase.
        -->
        <p class="text-center py-6 lg:py-8">
            <a href="{{ url_for('language_view.get_by_id', id=phrase.language.id) }}">
                {{ phrase.language.english }} - {{ phrase.language.native }}
            </a>
        </p>

        <!-- Submitter info -->
        <p class="text-center text-sm py-4">
            {{
                _('Submitted by <a href="%(profile)s">%(username)s</a>',
                    username=phrase.submitter.name,
                    profile=url_for('user_view.get_user', id=phrase.submitter.id)
                )
            }}{% if phrase.status == PhraseStatus.approved %} - {{
                _('Approved by <a href="%(profile)s">%(username)s</a>',
                    username=phrase.approved_by.name,
                    profile=url_for('user_view.get_user', id=phrase.approved_by.id)
                )
            }}{% endif %}
        </p>

        <!-- Phrase stats -->
        <!-- TODO: Maybe a link to an examples page?-->
        <p class="text-center text-sm py-4">
            {{ ngettext("%(num)d image", "%(num)d images", phrase.images|length) }}
            | {{ ngettext("%(num)d example", "%(num)d examples", phrase.translations|length) }}
        </p>
    </div>

    <div class="mb-4 md:mb-6">
        {{ image_gallery(images) }}
    </div>
</div>
<script>
    function phraseView () {
        return {

        }
    }
</script>
{% else %}
{# 404 page, if we use it #}
{% endif %}
{% endblock %}