{#
    Account creation complete page

    This just shows a message welcoming the user to Pixeme and showing
    a few tips on how to get started. It'll also have a link to the login
    page, just in case.
 #}
{% extends 'views/layout.html' %}

{% block title %}{{ _("Welcome to Pixeme") }}{% endblock %}

{% block content %}
<div class="container mx-auto py-4">
    <div class="flex flex-row">
        <p class="md:w-2/3 md:mx-auto py-4">
            {{ _(
                "Welcome to Pixeme, %(name)s! You've successfully created your account. Now you can "
                "join our growing community of language learners and lovers. "
            , name=account.user.name) }}
        </p>
    </div>
</div>
{% endblock %}