{#
    Image upload page

    This is one of the "core" Pixeme pages, where users can upload
    new images and associate them with phrases. Captions, tags,
    and metadata are all supported here, too, but note that this isn't
    for editing, just creation.
 #}

{% extends 'views/layout.html' %}
{% from 'components/icon_button.html' import icon_button %}

{% block title %}{{ _("Post image") }}{% endblock %}

{% block content %}
<div class="py-2 md:py-4 flex items-center justify-center">
    <section class="w-full">
        <h1 class="mb-8 text-xl text-center">
            {{ _("Post an image") }}
        </h1>
        <section class="py-4">
            <h2 class="mb-2 text-lg text-center">
                {{ _("First, choose the image.")}}
            </h2>
            <div class="w-full max-w-sm md:max-w-md lg:max-w-2xl p-8 mx-auto bg-gray-200 rounded-lg">
                <div class="" x-data="imageData()">
                    <div x-show="previewUri == ''">
                        <p class="text-center uppercase font-semibold text-gray-700">
                            <label for="image" class="cursor-pointer">
                                {{ _("Select an image") }}
                            </label>
                            <input type="file" name="image" id="image" accept="image/*"
                                class="hidden" @change="updatePreview()"
                                form="upload"
                            />
                        </p>
                    </div>
                    <div x-show="previewUri !== ''" class="flex flex-col items-center justify-center">
                        <img :src="previewUri" alt="" />
                        <div>
                            <button type="button" class="font-semibold text-gray-700"
                                @click="clearPreview()"
                            >
                                {{ _("Change") }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-4">
            <h2 class="mb-4 text-lg text-center">
                {{ _("Next, describe your image with a single word or short phrase.")}}
            </h2>
            <p class="text-center">
                <input type="text" name="phrase" id="phrase"
                    class="text-input mx-auto w-full max-w-sm px-2"
                    placeholder="{{ _('Be simple and direct') }}"
                    form="upload"
                />
                <select name="language_id" id="language_id"
                    class="pixeme-language-select w-1/3 lg:w-1/4"
                    form="upload"
                >
                    <option value="">{{ _("Choose a language") }}</option>
                    {% for lang in user.languages %}
                    <option value="{{lang.id}}">{{lang.english}} | {{lang.native}}</option>
                    {% endfor %}
                </select>
            </p>
        </section>
        <section class="py-4">
            <h2 class="mb-4 text-lg text-center">
                {{ _("Now, give it a longer caption or title.") }}
            </h2>
            <p class="text-center">
                <input type="text" name="caption" id="caption"
                    class="text-input mx-auto w-full max-w-md sm:max-w-lg px-2"
                    placeholder="{{ _('What is this image?') }}"
                    form="upload"
                />
            </p>
        </section>
        <section class="py-4">
            <!-- TODO: Tag input -->
        </section>
        <section class="py-4">
            <!-- Buttons, and remember to attach inputs to this form. -->
            <form action="{{ url_for('image_view.handle_upload_image') }}" method="post"
                id="upload" enctype="multipart/form-data"
            >
                <div class="flex items-center justify-center w-full mx-auto px-4 lg:w-2/3">
                    <button type="button" class="btn outline-btn mx-4">
                        {{ _("Cancel") }}
                    </button>
                    
                    <button type="submit" class="btn primary-btn icon-btn ml-auto mr-4">
                        {{ icon_button('mdiIcons.mdiSend', _("Post")) }}
                    </button>
                </div>
            </form>
        </section>
    </section>
    <script>
        function imageData() {
            return {
                previewUri: '',

                updatePreview () {
                    let reader = new FileReader();
                    let files = document.getElementById('image').files;

                    reader.onload = e => {
                        this.previewUri = e.target.result;
                    }

                    reader.readAsDataURL(files[0]);
                },

                clearPreview () {
                    document.getElementById('image').value = null;

                    this.previewUri = '';
                }
            }
        }
    </script>
</div>
{% endblock %}