{#
    Tag view page

    As tags only connect to images (in the DB, at least), the tag page
    is really nothing more than a gallery. As such, it's not quite as
    "core" as some of the other views. Not much else to it.
 #}

{% extends 'views/layout.html' %}

{% block title %}{{ _("Tag %(text)s", text=tag.text if tag else "")}}{% endblock %}

{% block content %}
{% if tag %}
<div class="flex flex-col max-w-screen-xl px-4"
    x-data="tagView()"
>
    <div class="mb-6 md:mb-12">
        <!-- Tag name -->
        <h1>{{ _("Tag: %(tag)s", tag=tag.text) }}</h1>

        <!-- Stats-->
        <p class="py-4 text-sm">
            {{ ngettext("%(num)d image with this tag", "%(num)d images with this tag", tag.images|length) }}
        </p>
    </div>

    <div>
        <!-- TODO: Image gallery -->
    </div>
</div>
<script>
    function tagView () {
        return {

        }
    }
</script>
{% else %}
{#
    If we want to do something other than a generic 404 page,
    put it here.
 #}
{% endif %}
{% endblock %}