{#
    Tag index page

    This is the "explore" page for tags. It's a core page
    with some necessarily heavy JS, but we'll try to make
    it accessible without that, too.
 #}

{% extends 'views/layout.html' %}

{% block title %}{{ _("Explore tags") }}{% endblock %}

{% block content %}
<div class="container" x-data="exploreTags()" x-init="fetchTags()">
    <header>
        <h1>
            {{ _("Explore the newest and most popular tags on Pixeme") }}
        </h1>
    </header>

    <section class="py-8">
        <header>
            <h1>{{ _("Popular tags") }}</h1>
        </header>

        <div class="w-full pt-4 divide-y-2">
            <template x-for="tag in popularTags" :key="tag">
                <div class="flex w-full py-2">
                    <!-- We have to do this dance here because we're mixing front and back ends. -->
                    <a :href=`{{ url_for('tag_view.explore_tags') }}/text/${tag.text}`
                        class="flex-grow" x-text="tag.text"
                    >
                    </a>
                </div>
            </template>
            <template x-if="showMorePopular">
                <div class="flex w-full py-2">
                    <a href="#" @click="fetchPopularTags(popularTagCount)">
                        {{ _("More") }}
                    </a>
                </div>
            </template>
        </div>
    </section>

    <section class="py-8">
        <header>
            <h1>{{ _("New tags") }}</h1>
        </header>

        <div class="w-full pt-4 divide-y-2">
            <template x-for="tag in newTags" :key="tag">
                <div class="flex w-full py-2">
                    <!-- We have to do this dance here because we're mixing front and back ends. -->
                    <a :href=`{{ url_for('tag_view.explore_tags') }}/text/${tag.text}`
                        class="flex-grow" x-text="tag.text"
                    >
                    </a>
                </div>
            </template>
            <template x-if="showMoreNew">
                <div class="flex w-full py-2">
                    <a href="#" @click="fetchNewTags(newTagCount)">
                        {{ _("More") }}
                    </a>
                </div>
            </template>
        </div>
    </section>
</div>
<script>
    function exploreTags() {
        return {
            popularTagCount: 20,
            popularTags: [],
            showMorePopular: true,
            newTagCount: 20,
            newTags: [],
            showMoreNew: true,

            fetchPopularTags: function (count) {
                const url = "{{ url_for('tag.get_popular_tags') }}";

                fetch(`${url}?count=${this.popularTagCount}`)
                    .then(response => response.json())
                    .then(data => this.popularTags = data.tags)
                    .then(() => {
                        this.showMore = (this.popularTags.length == this.popularTagCount);
                        this.popularTagCount += 20;
                    })
                ;
            },

            fetchNewTags: function (count) {
                const url = "{{ url_for('tag.get_new_tags') }}";

                fetch(`${url}?count=${this.newTagCount}`)
                    .then(response => response.json())
                    .then(data => this.newTags = data.tags)
                    .then(() => {
                        this.showMore = (this.newTags.length == this.newTagCount);
                        this.newTagCount += 20;
                    })
                ;
            },

            fetchTags: function () {
                this.fetchPopularTags(this.popularTagCount);
                this.fetchNewTags(this.newTagCount);
            }
        }
    }
</script>
{% endblock %}