{#
    User phrases page

    This side page shows the phrases a user has submitted, with links
    to their corresponding images. Moderators and admins can change the
    status of a phrase from here, while users viewing their own lists
    may remove them if desired.
 #}

{% extends 'views/layout.html' %}
{% from 'components/icon_button.html' import icon_button %}

{% block title %}{{ _("Phrases for %(user)s", user=user.name) if user }}{% endblock %}

{% block content %}
{% if user %}
<div class="container py-4 px-6" x-data="userPhrases()">
    <section class="flex flex-col">
        <header class="py-4">
            <h1>{{ _("Phrases for %(user)s", user=user.name) }}</h1>
        </header>

        <!-- TOOD: Should this be paginated? Probably later on. -->
        <div class="w-full divide-y-2">
            {% for phrase in user.submitted %}
            <div class="flex w-full py-2 align-middle">
                {% if phrase.status == PhraseStatus.accepted %}
                <span class="rounded-full w-4 h-4 mt-1 mr-2 bg-green-700" title="{{_('Accepted')}}"></span>
                {% elif phrase.status == PhraseStatus.proposed %}
                <span class="rounded-full w-4 h-4 mt-1 mr-2 border border-black" title="{{_('Proposed')}}"></span>
                {% elif phrase.status == PhraseStatus.rejected %}
                <span class="rounded-full w-4 h-4 mt-1 mr-2 bg-red-700" title="{{_('Rejected')}}"></span>
                {% elif phrase.status == PhraseStatus.questioned %}
                <span class="rounded-full w-4 h-4 mt-1 mr-2 bg-yellow-500" title="{{_('Questioned')}}"></span>
                {% endif %}
                <a href="{{ url_for('phrase_view.get_by_id', id=phrase.id) }}" class="flex-grow">
                    {{ phrase.text }}
                </a>
                <span class="flex-grow ml-auto text-right">{{ phrase.language.english }}</span>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
<script>
    function userPhrases() {
        return {
            
        }
    }
</script>
{% endif %}
{% endblock %}