{#
    User profile page

    This page displays a user's profile and, if it is the currently
    logged in user, allows that profile to be edited.

    This is a "core" page, so any layout changes should be discussed
    and signed off on by the developers.
 #}

{% extends 'views/layout.html' %}
{% from 'components/icon_button.html' import icon_button %}

{% block title %}{{ _("Profile for %(name)s", name=user.name) if user }}{% endblock %}

{% block content %}
{% if user %}
<div class="flex flex-col md:flex-row py-4" x-data="profileView()">
    <div class="w-full md:w-2/3 lg:w-5/6 px-8">
        <h1 class="text-3xl font-bold">{{user.name}}</h1>
        <h2 class="text-xl text-gray-700">({{user.account.username}})</h2>
        {% if user.account.role != AccountRole.user %}
            {% if user.account.role == AccountRole.admin %}
            <p class="text-lg text-blue-700 font-semibold">{{ _("Administrator") }}</p>
            {% elif user.account.role == AccountRole.moderator %}
            <p class="text-lg text-green-700 font-semibold">{{ _("Moderator") }}</p>
            {% elif user.account.role == AccountRole.banned %}
            <p class="text-lg text-red-700 font-semibold">{{ _("Banned") }}</p>
            {% endif %}
        {% endif %}

        <div class="pt-8">
            <p>{{ _("Member since %(date)s", date=user.account.date_created|dateformat) }}</p>
            <p>{{ _("Last login %(date)s", date=user.account.last_login|dateformat) }}</p>
        </div>

        {% if logged_in_user %}
        <div class="py-8">
            <a href="{{ url_for('user_view.change_password') }}">
                <button class="btn outline-btn" type="button">
                    {{ _("Change password") }}
                </button>
            </a>
        </div>
        {% endif %}

        <div class="py-2 w-full flex flex-wrap">
            <p class="w-full py-6 md:w-1/2 lg:w-1/3">
                <a href="{{ url_for('user_view.get_user_languages', id=user.id) }}">
                    {{ ngettext("%(num)d language", "%(num)d languages", user.fluencies|length) }}
                </a>
            </p>

            <p class="w-full py-6 md:w-1/2 lg:w-1/3">
                <a href="{{ url_for('user_view.get_user_images', id=user.id) }}">
                    {{ ngettext("%(num)d image", "%(num)d images", user.images|length) }}
                </a>
            </p>

            <p class="w-full py-6 md:w-1/2 lg:w-1/3">
                <a href="{{ url_for('user_view.get_user_phrases', id=user.id) }}">
                    {{ ngettext("%(num)d phrase submitted, %(appr)d approved", "%(num)d phrases submitted, %(appr)d approved",
                        user.submitted|length, appr=user.approved|length) }}
                </a>
            </p>
        </div>
    </div>

    {% if logged_in_user %}
    <!-- TODO: make this a bottom bar on mobile, sticky on desktop -->
    <div class="w-full md:w-1/3 lg:w-1/6 px-8">
        <button class="btn primary-btn icon-btn"
            formaction="{{ url_for('user_view.update_profile') }}"
        >
            {{ icon_button('mdiIcons.mdiContentSave', _("Save")) }}
        </button>
    </div>
    {% endif %}
</div>
<script>
    function profileView() {
        return {

        }
    }
</script>
{% endif %}
{% endblock %}