{#
    User languages page

    This is a kind of "side" page for the user profile, intended to display
    a list of the given user's claimed language fluencies. For users who
    are visiting their own profiles, extra actions to add/remove fluencies
    are provided.
 #}

{% extends 'views/layout.html' %}
{% from 'components/icon_button.html' import icon_button %}

{% block title %}{{ _("Languages for %(user)s", user=user.name) if user }}{% endblock %}

{% block content %}
{% if user %}
<div class="container py-4 px-6" x-data="userLanguages()">
    <section class="flex flex-col">
        <header class="py-4">
            <h1>{{  _("Languages for %(user)s", user=user.name)}}</h1>
        </header>
    
        <div class="w-full">
            {% for lang in user.fluencies %}
            <div class="inline-flex flex-row w-full lg:w-1/2 items-center">
                <a href="{{ url_for('language_view.get_by_id', id=lang.id) }}" class="flex-shrink">
                    {{ lang.english }} | {{ lang.native }}
                </a>
                {% if logged_in_user or g.account.role == AccountRole.admin %}
                <!-- Button to remove -->
                <span class="pl-4 flex-shrink ml-auto">
                    <!-- TODO -->
                    <button class="btn icon-btn text-red-700">
                        {{ icon_button('mdiIcons.mdiMinus') }}
                    </button>
                </span>
                {% endif %}
            </div>
            {% endfor %}
        </div>

        {% if logged_in_user %}
        <div class="py-6">
            <button class="btn primary-btn icon-btn">
                {{ icon_button('mdiIcons.mdiPlus', _("Add")) }}
            </button>
        </div>
        {% endif %}
    </section>
</div>
<script>
    function userLanguages() {
        return {
            
        }
    }
</script>
{% endif %}
{% endblock %}