{#
    User images page

    This side page shows the images the given user has uploaded, with
    options provided for those users visiting their own lists. In addition,
    moderators and admins will have options to delete or hide images
    from here.
 #}

{% extends 'views/layout.html' %}
{% from 'components/icon_button.html' import icon_button %}

{% block title %}{{ _("Images for %(user)s", user=user.name) if user }}{% endblock %}

{% block content %}
{% if user %}
<div class="container py-4 px-6" x-data="userImages()">
    <!-- TODO: Paginated image list -->
    <section class="flex flex-col">
        <header class="py-4">
            <h1>{{ _("Images uploaded by %(user)s", user=user.name) }}</h1>
        </header>

        <div class="flex flex-row flex-wrap justify-evenly">
            {% for image in user.images %}
            <a href="{{ url_for('image_view.get_image', id=image.id) }}"
                class="image-list-item"
            >
                <figure class="w-full">
                    <img src="{{ image_url_for(image)}}" alt="{{image.caption}}" class="w-full h-full" />
                    <figcaption>{{image.caption}}</figcaption>
                </figure>
            </a>
            {% endfor %}
        </div>
    </section>
</div>
<script>
    function userImages() {
        return {
            imageIds: [{{ user.images|map(attribute='id')|join(',') }}],
            page: 0,
            imagesPerPage: 10
        }
    }
</script>
{% endif %}
{% endblock %}