{% extends 'views/admin/layout.html' %}

{% block title %}{{ _("Account Created") }} | {{ _("Admin Dashboard")}}{% endblock %}

{% block data %}
<div class="flex flex-col items-center">
    <header class="w-full py-6">
        <span class="font-bold text-lg px-4">{{ _('Account creation success') }}</span>
    </header>

    <section class="flex flex-col w-full px-12">
        <p>
            {{ _("Successfully created account #%(id)s with the following details:", id=account.id) }}
        </p>

        <ul>
            <li>{{ _("Username: %(username)s", username=account.username) }}</li>
            <li>{{ _("Email: %(email)s", email=account.email) }}</li>
            <li>{{ _("Password: (not shown)") }}</li>
        </ul>

        <div class="py-6 mx-auto">
            <a href="{{ url_for('admin_view.users_list') }}">
                <button class="btn outline-btn" type="button"
                >
                   {{ _("Back to user list") }}
                </button>
            </a>
        </div>
    </section>
</div>
{% endblock %}