{% extends 'views/admin/layout.html' %}
{% from 'components/text_input.html' import text_input %}

{% block title %}{{ _("Add Language") }} | {{ _("Admin Dashboard")}}{% endblock %}

{% block data %}
<div class="flex flex-col items-center"
    x-data="addLanguage()"
>
    <header class="w-full flex flex-row py-6">
        <span class="font-bold text-lg px-4">{{ _("New language") }}</span>
        <a href="{{ url_for('admin_view.languages_list') }}"
            class="nav-link ml-auto pl-4 pr-8"
        >
            {{ _("Back to language list") }}
        </a>
    </header>

    <section class="flex flex-col w-full px-12">
        <form method="post">
            <div class="flex flex-row flex-wrap items-center">
                {{ text_input(_('English name'), 'english', model='english') }}
            </div>

            <div class="flex flex-row flex-wrap items-center">
                {{ text_input(_('Native name'), 'native', model='native') }}
            </div>

            <div class="flex flex-row flex-wrap items-center">
                {{ text_input(_('Language code'), 'tag', model='tag') }}
            </div>

            <div class="button-row">
                <button class="btn outline-btn" type="submit"
                    :disabled="tag === '' || english === '' || native === ''"
                >
                    {{ _("Add language") }}
                </button>

                <a href="{{ url_for('admin_view.languages_list') }}">
                <button class="btn outline-btn" type="button">
                    {{ _("Cancel") }}
                </button>
                </a>
            </div>
        </form>
    </section>
</div>
<script>
    function addLanguage () {
        return {
            tag: '',
            english: '',
            native: ''
        }
    }
</script>
{% endblock %}