{% extends 'views/admin/layout.html' %}
{% from 'components/text_input.html' import text_input %}

{% block title %}{{ _("Add Tag") }} | {{ _("Admin Dashboard")}}{% endblock %}

{% block data %}
<div class="flex flex-col items-center"
    x-data="addTag()"
>
    <header class="w-full flex flex-row py-6">
        <span class="font-bold text-lg px-4">{{ _("New tag") }}</span>
        <a href="{{ url_for('admin_view.tags_list') }}"
            class="nav-link ml-auto pl-4 pr-8"
        >
            {{ _("Back to tag list") }}
        </a>
    </header>

    <section class="flex flex-col w-full px-12">
        <div class="py-4">
            <p>
                {{
                    _(
                    "Tags only need some text. Adding them here will not associate them "
                    "with any images, but will make them available to all users."
                    )
                }}
            </p>
        </div>
        <form method="post">
            <div class="flex flex-row flex-wrap items-center">
                {{ text_input(_('Tag text'), 'text', model='text') }}
            </div>

            <div class="button-row">
                <button class="btn outline-btn" type="submit"
                    :disabled="text === ''"
                >
                    {{ _("Add tag") }}
                </button>

                <a href="{{ url_for('admin_view.tags_list') }}">
                <button class="btn outline-btn" type="button">
                    {{ _("Cancel") }}
                </button>
                </a>
            </div>
        </form>
    </section>
</div>
<script>
    function addTag () {
        return {
            text: ''
        }
    }
</script>
{% endblock %}