{% extends 'views/admin/layout.html' %}
{% from 'components/text_input.html' import text_input %}

{% block title %}{{ _("Add Phrase") }} | {{ _("Admin Dashboard")}}{% endblock %}

{% block data %}
<div class="flex flex-col items-center"
    x-data="addPhrase()"
>
    <header class="w-full flex flex-row py-6">
        <span class="font-bold text-lg px-4">{{ _("New phrase") }}</span>
        <a href="{{ url_for('admin_view.phrases_list') }}"
            class="nav-link ml-auto pl-4 pr-8"
        >
            {{ _("Back to phrase list") }}
        </a>
    </header>

    <section class="flex flex-col w-full px-12">
        <div class="py-4">
            <p>
                {{
                    _(
                    "Phrases are simple strings of text from a specific language. "
                    "When users submit them, they will be listed as \"proposed\", "
                    "but admins can set their initial status to any available."
                    )
                }}
            </p>
        </div>
        <form method="post">
            <div class="flex flex-row flex-wrap items-center">
                <div class="w-1/2">
                    {{ text_input(_('Phrase text'), 'text', model='text') }}
                </div>

                <div class="w-1/2">
                    <div class="mb-4 px-4 flex-grow">
                        <label for="status" class="block mb-2 font-light">
                            {{ _("Status") }}
                        </label>
                        <div class="w-full md:w-1/2 relative inline-flex">
                            <!-- Dropdown arrow-->
                            <svg class="fill-current pointer-events-none w-6 h-6 absolute top-0 right-0 mt-6 m-4"
                                viewBox="0 0 24 24">
                                <path :d="mdiIcons.mdiChevronDown" />
                            </svg>
                            <!-- Actual menu -->
                            <select name="status" id="status" class="pixeme-select"
                                x-model="status"
                            >
                                <option value="proposed" selected>
                                    {{ _("Proposed") }}
                                </option>
                                <option value="accepted">
                                    {{ _("Accepted") }}
                                </option>
                                <option value="rejected">
                                    {{ _("Rejected") }}
                                </option>
                                <option value="questioned">
                                    {{ _("Questioned") }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-row flex-wrap items-center">
                <div class="mb-4 px-4 flex-grow">
                    <label for="status" class="block mb-2 font-light">
                        {{ _("Language") }}
                    </label>
                    <div class="w-full md:w-1/2 relative inline-flex">
                        <!-- Dropdown arrow-->
                        <svg class="fill-current pointer-events-none w-6 h-6 absolute top-0 right-0 mt-6 m-4"
                            viewBox="0 0 24 24">
                            <path :d="mdiIcons.mdiChevronDown" />
                        </svg>
                        <!-- Actual menu -->
                        <select name="language_id" id="language_id" class="pixeme-select"
                            x-model="language_id"
                        >
                            <option value="0" selected>
                                {{ _("Select a language") }}
                            </option>

                            <template x-for="language in languages" :key="language.id">
                                <option :value="language.id" x-text="language.english">
                                </option>
                            </template>
                        </select>
                    </div>
                </div>
            </div>

            <div class="button-row">
                <button class="btn outline-btn" type="submit"
                    :disabled="text === '' || language_id === 0"
                >
                    {{ _("Add phrase") }}
                </button>

                <a href="{{ url_for('admin_view.phrases_list') }}">
                    <button class="btn outline-btn" type="button">
                        {{ _("Cancel") }}
                    </button>
                </a>
            </div>

            <input type="hidden" name="submitter_id" value="{{ session['account']['id'] }}">
        </form>
    </section>
</div>
<script>
    function addPhrase () {
        Pixeme.fetchLanguages();

        return {
            text: '',
            status: 'proposed',
            language_id: 0,

            languages: JSON.parse(localStorage.getItem('languages'))
        }
    }
</script>
{% endblock %}