{% extends 'views/admin/layout.html' %}

{% block title %}{{ _("Confirm tag removal") }} | {{ _("Admin Dashboard") }}{% endblock %}

{% block data %}
<div class="flex flex-col items-center">
    <header class="w-full py-6 text-2xl">
        {{ _("Confirm phrase removal") }}
    </header>

    <section class="flex flex-col">
        <form method="post">
            <p>{{ _('Are you sure you want to remove the phrase "%(phrase)s" from Pixeme?',
                phrase=phrase.text) }}</p>
            <p class="text-red-800">
                {{ _(
                    "This will affect %(translation_count)s and %(tag_count)s referencing the phrase."
                    "This operation cannot be undone",
                    translation_count=ngettext("%(num)d translation", "%(num)d translations", phrase.translations|length),
                    tag_count=ngettext("%(num)d tag", "%(num)d tags", phrase.tags|length)                    
                ) }}
            </p>

            <div class="button-row">
                <button class="btn primary-btn"
                    formaction="{{ url_for('admin_view.remove_phrase', id=phrase.id) }}"
                >
                    {{ _("Yes, remove this phrase.") }}
                </button>

                <button class="btn outline-btn"
                    formaction="{{ url_for('admin_view.phrase_details', id=phrase.id) }}"
                >
                    {{ _("No, cancel.") }}
                </button>
            </div>
        </form>
    </section>
</div>
{% endblock %}