{% extends 'views/admin/layout.html' %}

{% block title %}{{ _("Confirm language removal") }} | {{ _("Admin Dashboard") }}{% endblock %}

{% block data %}
<div class="flex flex-col items-center">
    <header class="w-full py-6 text-2xl">
        {{ _("Confirm language removal") }}
    </header>

    <section class="flex flex-col">
        <form method="post">
            <p>{{ _("Are you sure you want to remove the %(lang)s language from Pixeme?",
                lang=language.english) }}</p>
            <p class="text-red-800">
                {{ _("This will remove all phrases, translations, and tags using %(lang)s. This operation cannot be undone,",
                lang=language.english) }}
            </p>

            <div class="button-row">
                <button class="btn primary-btn"
                    formaction="{{ url_for('admin_view.remove_language', id=language.id) }}"
                >
                    {{ _("Yes, remove this language.") }}
                </button>

                <button class="btn outline-btn"
                    formaction="{{ url_for('admin_view.language_details', id=language.id) }}"
                >
                    {{ _("No, cancel.") }}
                </button>
            </div>
        </form>
    </section>
</div>
{% endblock %}