{% extends 'views/admin/layout.html' %}

{% block title %}{{ _("Confirm image removal") }} | {{ _("Admin Dashboard") }}{% endblock %}

{% block data %}
<div class="flex flex-col items-center">
    <header class="w-full py-6 text-2xl">
        {{ _("Confirm image removal") }}
    </header>

    <section class="flex flex-col">
        <form method="post">
            <p>{{ _("Are you sure you want to remove this image from Pixeme?") }}</p>
            <p class="text-red-800">
                {{ _(
                    "This will not affect any phrases, translations, and tags referencing the image."
                    "This operation cannot be undone"
                ) }}
            </p>

            <div class="button-row">
                <button class="btn primary-btn"
                    formaction="{{ url_for('admin_view.remove_image', id=image.id) }}"
                >
                    {{ _("Yes, remove this iamge.") }}
                </button>

                <button class="btn outline-btn"
                    formaction="{{ url_for('admin_view.image_details', id=image.id) }}"
                >
                    {{ _("No, cancel.") }}
                </button>
            </div>
        </form>
    </section>
</div>
{% endblock %}