{% extends 'views/admin/layout.html' %}
{% from 'components/icon_button.html' import icon_button %}

{% block title %}{{ _("Confirm user ban") }} | {{ _("Admin Dashboard") }}{% endblock %}

{% block data %}
<div class="flex flex-col items-center">
    <header class="w-full py-6 text-2xl">
        {{ _("Confirm user ban") }}
    </header>

    <section class="flex flex-col">
        <form method="post">
            <p>{{ _("Are you sure you want to ban the user %(name)s?", name=user.account.username)}}</p>
            <p class="text-red-800">
                {{ _("""%(name)s will be banned from accessing any pages that require login. This will not
affect the user's ability to view any other part of the site. However, this user will no longer be allowed
to post images, tag images, submit translations, or interact with other users.""",
                name=user.account.username) }}
            </p>

            <div class="button-row">
                <button class="btn primary-btn"
                    formaction="{{ url_for('admin_view.ban_user', id=user.id) }}"
                >
                    {{ _("Yes, ban this user.") }}
                </button>

                <button class="btn outline-btn"
                    formaction="{{ url_for('admin_view.user_details', id=user.id) }}"
                >
                    {{ _("No, cancel.") }}
                </button>
            </div>
        </form>
    </section>
</div>
{% endblock %}