{% extends 'views/admin/layout.html' %}
{% from 'components/icon_button.html' import icon_button %}

{% block title %}{{ _("Confirm user deletion") }} | {{ _("Admin Dashboard") }}{% endblock %}

{% block data %}
<div class="flex flex-col items-center">
    <header class="w-full py-6 text-2xl">
        {{ _("Confirm user deletion") }}
    </header>

    <section class="flex flex-col">
        <form method="post">
            <p>{{ _("Are you sure you want to delete the user %(name)s?", name=user.account.username)}}</p>
            <p class="text-red-800">
                {{ _("This will remove %(name)s from the Pixeme database. This operation cannot be undone",
                name=user.account.username) }}
            </p>

            <div class="button-row">
                <button class="btn primary-btn"
                    formaction="{{ url_for('admin_view.delete_user', id=user.id) }}"
                >
                    {{ _("Yes, delete this user.") }}
                </button>

                <button class="btn outline-btn"
                    formaction="{{ url_for('admin_view.user_details', id=user.id) }}"
                    formmethod="get"
                >
                    {{ _("No, cancel.") }}
                </button>
            </div>
        </form>
    </section>
</div>
{% endblock %}