{% extends 'views/admin/layout.html' %}

{% block title %}{{ _("Confirm tag removal") }} | {{ _("Admin Dashboard") }}{% endblock %}

{% block data %}
<div class="flex flex-col items-center">
    <header class="w-full py-6 text-2xl">
        {{ _("Confirm tag removal") }}
    </header>

    <section class="flex flex-col">
        <form method="post">
            <p>{{ _('Are you sure you want to remove the tag "%(text)s" from Pixeme?',
                text=tag.text) }}</p>
            <p class="text-red-800">
                {{ _(
                    "This will affect %(image_count)s which reference this tag."
                    "This operation cannot be undone",
                    image_count=ngettext("%(num)d image", "%(num)d images", tag.images|length)                    
                ) }}
            </p>

            <div class="button-row">
                <button class="btn primary-btn"
                    formaction="{{ url_for('admin_view.remove_tag', id=tag.id) }}"
                >
                    {{ _("Yes, remove this tag.") }}
                </button>

                <button class="btn outline-btn"
                    formaction="{{ url_for('admin_view.tag_details', id=tag.id) }}"
                >
                    {{ _("No, cancel.") }}
                </button>
            </div>
        </form>
    </section>
</div>
{% endblock %}