{% extends 'views/admin/layout.html' %}
{% from 'components/text_input.html' import text_input %}
{% from 'components/password_input.html' import password_input %}

{% block title %}{{ _("Create New Account") }} | {{ _("Admin Dashboard")}}{% endblock %}

{% block data %}
<div class="flex flex-col items-center"  x-data="{
    'password': '',
    'showPassword': false,
    'retype': '',
    'showRetype': false
}">
    <header class="w-full flex flex-row py-6">
        <span class="font-bold text-lg px-4">{{ _("New account") }}</span>
        <a href="{{ url_for('admin_view.users_list') }}"
            class="nav-link ml-auto pl-4 pr-8"
        >
            {{ _("Back to user list") }}
        </a>
    </header>

    <section class="flex flex-col w-full px-12">
        <form method="POST">
            <div class="flex flex-row flex-wrap items-stretch">
                {{ text_input(_("Username"), 'username') }}
            </div>

            <div class="flex flex-row flex-wrap items-stretch">
                {{ text_input(_("Email address"), 'email') }}
            </div>

            <div class="flex flex-row flex-wrap items-stretch">
                {{ password_input(_("Password"), 'password', 'password') }}
            </div>

            <div class="flex flex-row flex-wrap items-stretch">
                {{ password_input(_("Retype password"), 'retype', 'retype') }}
            </div>

            <div class="flex flex-row items-stretch" x-show="(password !== retype)">
                <p class="text-red-800">{{ _("Passwords must match") }}</p>
            </div>

            <div class="button-row">
                <button class="btn outline-btn"
                    :disabled="password !== retype"
                >
                    {{ _("Create account") }}
                </button>

                <a href="{{ url_for('admin_view.users_list') }}">
                <button class="btn outline-btn" type="button"
                >
                   {{ _("Cancel") }}
                </button>
                </a>
            </div>
        </form>
    </section>
</div>
{% endblock %}