{% extends 'views/admin/layout.html' %}
{% from 'components/icon_button.html' import icon_button %}
{% from 'components/text_input.html' import text_input %}

{% block title %}{{ _("Image %(id)d", id=image.id) }} | {{ _("Admin Dashboard") }}{% endblock %}

{% block data %}
<div class="flex flex-col items-center">
    <header class="w-full flex flex-row py-6">
        <span class="font-bold text-lg px-4">{{ _("Details for image %(id)d", id=image.id) }}</span>
        <a href="{{ url_for('admin_view.images_list') }}"
            class="nav-link ml-auto pl-4 pr-8"
        >
            {{ _("Back to image list") }}
        </a>
    </header>

    <section class="flex flex-col">
        <div class="flex flex-row items-stretch">
            <img src="{{ image_url }}" alt="{{ image.caption }}">
            <p class="text-sm">
                {{ _("Uploaded by %(uploader)s", uploader=image.uploader.name) }}
            </p>

            <p class="text-sm">
                {{ ngettext("%(num)d phrase", "%(num)d phrases", image.phrases|length) }},
                {{ ngettext("%(num)d tag", "%(num)d tags", image.tags|length) }},
                {{ ngettext("%(num)d example", "%(num)d examples", image.examples|length) }}
            </p>
        </div>

        <form method="POST" x-data="{}">
            <div class="flex flex-row flex-wrap items-stretch">
                <div class="w-1/3">
                {{ text_input(_("ID"), 'id', initial_value=image.id, readonly=True) }}
                </div>
                <div class="w-2/3">
                {{ text_input(_("Filename"), 'filename', initial_value=image.filename, readonly=True) }}
                </div>                
            </div>

            <div class="flex flex-row flex-wrap items-stretch">
                {{ text_input(_("Caption"), 'caption', initial_value=image.caption) }}
            </div>

            <div class="flex flex-row flex-wrap items-stretch">
                <textarea name="description" id="description" cols="30" rows="7">
                    {{ image.description }}
                </textarea>
            </div>

            <div class="flex flex-row flex-wrap items-stretch">
                <textarea name="metadata" id="metadata" cols="30" rows="7">
                    {{ image.image_metadata|pprint }}
                </textarea>
            </div>

            <div class="flex flex-row flex-wrap items-stretch">
                {{ text_input(_("Date uploaded"), 'timestamp', initial_value=image.timestamp|datetimeformat) }}
            </div>

            <div class="button-row">
                <button class="btn outline-btn"
                    formaction="{{ url_for('admin_view.confirm_remove_image', id=image.id) }}"
                >
                        {{ _("Remove image") }}
                </button>
            </div>
        </form>
    </section>
</div>
{% endblock %}