{% extends 'views/admin/layout.html' %}
{% from 'components/icon_button.html' import icon_button %}
{% from 'components/text_input.html' import text_input %}

{% block title %}{{ _("%(lang)s language", lang=language.english) }} | {{ _("Admin Dashboard") }}{% endblock %}

{% block data %}
<div class="flex flex-col items-center">
    <header class="w-full flex flex-row py-6">
        <span class="font-bold text-lg px-4">{{ _("Details for %(lang)s", lang=language.english) }}</span>
        <a href="{{ url_for('admin_view.languages_list') }}"
            class="nav-link ml-auto pl-4 pr-8"
        >
            {{ _("Back to language list") }}
        </a>
    </header>

    <section class="flex flex-col">
        <form method="POST" x-data="{}">
            <div class="flex flex-row flex-wrap items-stretch">
                <div class="w-1/3">
                {{ text_input(_("ID"), 'id', initial_value=language.id, readonly=True) }}
                </div>
                <div class="w-2/3">
                {{ text_input(_("Group"), 'primary', initial_value=language.primary, readonly=True) }}
                </div>
                
            </div>

            <div class="flex flex-row flex-wrap items-stretch">
                {{ text_input(_("English name"), 'english', initial_value=language.english) }}
            </div>

            <div class="flex flex-row flex-wrap items-stretch">
                {{ text_input(_("Native name"), 'native', initial_value=language.native) }}
            </div>

            <div class="flex flex-row flex-wrap items-stretch">
                {{ text_input(_("Language code (ISO, IETF, etc.)"), 'tag', initial_value=language.tag) }}
            </div>

            <div class="button-row">
                <button class="btn outline-btn"
                    formaction="{{ url_for('admin_view.update_language', id=language.id) }}"
                >
                    {{ _("Update language") }}
                </button>

                <button class="btn outline-btn"
                    formaction="{{ url_for('admin_view.confirm_remove_language', id=language.id) }}"
                >
                        {{ _("Remove language") }}
                </button>
            </div>
        </form>
    </section>
</div>
{% endblock %}