{% extends 'views/admin/layout.html' %}
{% from 'components/icon_button.html' import icon_button %}

{% block title %}{{ _("Languages") }} | {{ _("Admin Dashboard")}}{% endblock %}

{% block data %}
<div class="flex flex-col items-center">
    <div class="mx-4 mb-6 w-full max-w-full overflow-x-scroll shadow border-b border-gray-200">
        <table class="min-w-full bg-white">
            <thead class="bg-gray-800 text-white">
                <tr>
                    <th class="admin-table-header">{{ _('ID') }}</th>
                    <th class="admin-table-header">{{ _('Group') }}</th>
                    <th class="admin-table-header">{{ _('Language Code') }}</th>
                    <th class="admin-table-header">{{ _('English Name') }}</th>
                    <th class="admin-table-header">{{ _('Native Name') }}</th>
                    <th class="w-1/4 md:w-1/6 xl:w-1/12 admin-table-header">{{ _('Details') }}</th>
                </tr>
            </thead>
            <tbody class="text-gray-700">
                {% for language in languages %}
                <tr class="{{ 'bg-white' if loop.index0 % 2 else 'bg-gray-200' }}">
                    <td class="admin-table-cell">{{ language.id }}</td>
                    <td class="admin-table-cell">{{ language.primary }}</td>
                    <td class="admin-table-cell">{{ language.tag }}</td>
                    <td class="admin-table-cell">{{ language.english }}</td>
                    <td class="admin-table-cell">{{ language.native }}</td>
                    <td class="w-1/4 md:w-1/6 xl:w-1/12 admin-table-cell">
                        <a href="{{ url_for('admin_view.language_details', id=language.id) }}">View</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if not languages %}
    <p class="mx-auto mb-6">{{ _("No languages found.") }}</p>
    {% endif %}

    <form id="add-language" action="">
        <button class="btn outline-btn icon-btn"
            formaction="{{ url_for('admin_view.start_add_language') }}"
        >
            {{ icon_button('mdiIcons.mdiPlus', _("Add new language")) }}
        </button>
    </form>
</div>
{% endblock %}