{% extends 'base.html' %}
{% from 'components/accordion.html' import accordion %}
{% from 'components/navigation_list.html' import navigation_list %}

{% block title %}{{ _("Admin Dashboard") }}{% endblock %}

{% set navigation = [
    { 'text': _("Admin home"), 'route': 'admin_view.home' },
    { 'text': _("Users and accounts"), 'route': 'admin_view.users_list' },
    { 'text': _("Languages and language groups"), 'route': 'admin_view.languages_list' },
    { 'text': _("Images"), 'route': 'admin_view.images_list' },
    { 'text': _("Phrases"), 'route': 'admin_view.phrases_list' },
    { 'text': _("Image tags"), 'route': 'admin_view.tags_list' }
] %}

{% block content %}
<div class="flex flex-col md:flex-row md:min-h-full">
    <div class="mx-auto md:hidden">
        {{ accordion([{'title': _("Pixeme Administration"),
            'content': navigation_list(navigation)}]) }}
    </div>

    <div class="w-full md:w-2/3 lg:w-3/4 p-4">
        {% block data %}
        <p>
            {{ _("Welcome to the Pixeme administration dashboard. Please select a page to get started.") }}
        </p>
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="p-6 h-full md:bg-gray-300">
    <h1>{{ _("Pixeme Admininstration") }}</h1>
    <div class="py-4">
        {{ navigation_list(navigation) }}
    </div>
</div>
{% endblock %}

{% block extra %}
<footer class="flex-shrink border-t border-purple-800 h-16 md:h-12">
    {% block footer %}
    <p class="pr-10 py-4 md:py-2 text-right text-purple-700 font-light">
        {{ _("Pixeme version %(ver)s", ver=pixeme_version) }}
    </p>
    {% endblock %}
</footer>
{% endblock %}