{% extends 'views/admin/layout.html' %}
{% from 'components/icon_button.html' import icon_button %}
{% from 'components/text_input.html' import text_input %}

{% block title %}{{ _("Phrase %(text)s", text=phrase.text) }} | {{ _("Admin Dashboard") }}{% endblock %}

{% block data %}
<div class="flex flex-col items-center">
    <header class="w-full flex flex-row py-6">
        <span class="font-bold text-lg px-4">{{ _("Details for %(text)s", text=phrase.text) }}</span>
        <a href="{{ url_for('admin_view.phrases_list') }}"
            class="nav-link ml-auto pl-4 pr-8"
        >
            {{ _("Back to phrase list") }}
        </a>
    </header>

    <section class="flex flex-col">
        <form method="POST" x-data="{}">
            <div class="flex flex-row flex-wrap items-stretch">
                <div class="w-1/3">
                {{ text_input(_("ID"), 'id', initial_value=phrase.id, readonly=True) }}
                </div>
                <div class="w-2/3">
                    <div class="mb-4 px-4 flex-grow">
                        <label for="status" class="block mb-2 font-light">
                            {{ _("Status") }}
                        </label>
                        <div class="w-full md:w-1/2 relative inline-flex">
                            <!-- Dropdown arrow-->
                            <svg class="fill-current pointer-events-none w-6 h-6 absolute top-0 right-0 m-4"
                                viewBox="0 0 24 24">
                                <path :d="mdiIcons.mdiChevronDown" />
                            </svg>
                            <!-- Actual menu -->
                            <select name="status" id="status" class="pixeme-select">
                                <option value="proposed"
                                    {{ "selected" if phrase.status == PhraseStatus.proposed }}
                                >
                                {{ _("Proposed") }}
                                </option>
                                <option value="accepted"
                                    {{ "selected" if phrase.status == PhraseStatus.accepted }}
                                >
                                    {{ _("Accepted") }}
                                </option>
                                <option value="rejected"
                                    {{ "selected" if phrase.status == PhraseStatus.rejected }}
                                >
                                    {{ _("Rejected") }}
                                </option>
                                <option value="questioned"
                                    {{ "selected" if phrase.status == PhraseStatus.questioned }}
                                >
                                    {{ _("Questioned") }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="flex flex-row flex-wrap items-stretch">
                {{ text_input(_("Text"), 'text', initial_value=phrase.text) }}
            </div>

            <div>
                <p>
                    {{ _(
                        "This phrase is associated with %(img_count)s and %(ex_count)s.",
                        img_count=ngettext("%(num)d image", "%(num)d images", phrase.images|length),
                        ex_count=ngettext("%(num)d translation", "%(num)d translations", phrase.translations|length)
                    )}}
                </p>
            </div>

            <div class="button-row">
                <button class="btn outline-btn"
                    formaction="{{ url_for('admin_view.update_phrase', id=phrase.id) }}"
                >
                    {{ _("Update phrase") }}
                </button>

                <button class="btn outline-btn"
                    formaction="{{ url_for('admin_view.confirm_remove_phrase', id=phrase.id) }}"
                >
                    {{ _("Remove phrase") }}
                </button>
            </div>

            <div class="button-row">
                <button class="btn outline-btn"
                    formaction="{{ url_for('admin_view.accept_phrase', id=phrase.id) }}"
                >
                    {{ _("Accept this phrase") }}
                </button>
                <button class="btn outline-btn"
                    formaction="{{ url_for('admin_view.reject_phrase', id=phrase.id) }}"
                >
                    {{ _("Reject this phrase") }}
                </button>
            </div>
        </form>
    </section>
</div>
{% endblock %}