{% extends 'views/admin/layout.html' %}
{% from 'components/icon_button.html' import icon_button %}

{% block title %}{{ _("Phrases") }} | {{ _("Admin Dashboard")}}{% endblock %}

{% block data %}
<div class="flex flex-col items-center">
    <div class="mx-4 mb-6 w-full max-w-full overflow-x-scroll shadow border-b border-gray-200">
        <table class="min-w-full bg-white">
            <thead class="bg-gray-800 text-white">
                <tr>
                    <th class="admin-table-header">{{ _('ID') }}</th>
                    <th class="admin-table-header">{{ _('Text') }}</th>
                    <th class="admin-table-header">{{ _('Language') }}</th>
                    <th class="admin-table-header">{{ _('Status') }}</th>
                    <th class="admin-table-header">{{ _('Submitter') }}</th>
                    <th class="w-1/4 md:w-1/6 xl:w-1/12 admin-table-header">{{ _('Details') }}</th>
                </tr>
            </thead>
            <tbody class="text-gray-700">
                {% for phrase in phrases %}
                <tr class="{{ 'bg-white' if loop.index0 % 2 else 'bg-gray-200' }}">
                    <td class="admin-table-cell">{{ phrase.id }}</td>
                    <td class="admin-table-cell">{{ phrase.text }}</td>
                    <td class="admin-table-cell">{{ phrase.language.english }}</td>
                    <td class="admin-table-cell">{{ phrase.status.name }}</td>
                    <td class="admin-table-cell">{{ phrase.submitter.account.username }}</td>
                    <td class="w-1/4 md:w-1/6 xl:w-1/12 admin-table-cell">
                        <a href="{{ url_for('admin_view.phrase_details', id=phrase.id) }}">View</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if not phrase %}
    <p class="mx-auto mb-6">{{ _("No phrases found.") }}</p>
    {% endif %}

    <form id="add-language" action="">
        <button class="btn outline-btn icon-btn"
            formaction="{{ url_for('admin_view.start_add_phrase') }}"
        >
            {{ icon_button('mdiIcons.mdiPlus', _("Add new phrase")) }}
        </button>
    </form>
</div>
{% endblock %}