{% extends 'views/admin/layout.html' %}
{% from 'components/icon_button.html' import icon_button %}
{% from 'components/text_input.html' import text_input %}

{% block title %}{{ _("Tag %(text)s", text=tag.text) }} | {{ _("Admin Dashboard") }}{% endblock %}

{% block data %}
<div class="flex flex-col items-center">
    <header class="w-full flex flex-row py-6">
        <span class="font-bold text-lg px-4">{{ _("Details for %(text)s", text=tag.text) }}</span>
        <a href="{{ url_for('admin_view.tags_list') }}"
            class="nav-link ml-auto pl-4 pr-8"
        >
            {{ _("Back to tag list") }}
        </a>
    </header>

    <section class="flex flex-col">
        <form method="POST" x-data="{}">
            <div class="flex flex-row flex-wrap items-stretch">
                <div class="w-full md:w-1/3">
                {{ text_input(_("ID"), 'id', initial_value=tag.id, readonly=True) }}
                </div>
                <div class="w-full md:w-2/3">
                {{ text_input(_("Text"), 'text', initial_value=tag.text, readonly=True) }}
                </div>
                
            </div>

            <div>
                <p>
                    {{ _(
                        "This tag is associated with %(img_count)s.",
                        img_count=ngettext("%(num)d image", "%(num)d images", tag.images|length)
                    )}}
                </p>
            </div>

            <div class="button-row">
                <button class="btn outline-btn"
                    formaction="{{ url_for('admin_view.confirm_remove_tag', id=tag.id) }}"
                >
                    {{ _("Remove tag") }}
                </button>
            </div>
        </form>
    </section>
</div>
{% endblock %}