{% extends 'views/admin/layout.html' %}
{% from 'components/icon_button.html' import icon_button %}

{% block title %}{{ _("Users") }} | {{ _("Admin Dashboard")}}{% endblock %}

{% block data %}
<div class="flex flex-col items-center">
    <div class="mx-4 mb-6 w-full max-w-full overflow-x-scroll shadow border-b border-gray-200">
        <table class="min-w-full bg-white">
            <thead class="bg-gray-800 text-white">
                <tr>
                    <th class="admin-table-header">{{ _('ID') }}</th>
                    <th class="admin-table-header">{{ _('Username') }}</th>
                    <th class="admin-table-header">{{ _('Display Name') }}</th>
                    <th class="admin-table-header">{{ _('Email') }}</th>
                    <th class="admin-table-header">{{ _('Role') }}</th>
                    <th class="w-1/4 md:w-1/6 xl:w-1/12 admin-table-header">{{ _('Details') }}</th>
                </tr>
            </thead>
            <tbody class="text-gray-700">
                {% for user in users %}
                <tr class="{{ 'bg-white' if loop.index0 % 2 else 'bg-gray-200' }}">
                    <td class="admin-table-cell">{{ user.id }}</td>
                    <td class="admin-table-cell">{{ user.account.username }}</td>
                    <td class="admin-table-cell">{{ user.name }}</td>
                    <td class="admin-table-cell">{{ user.account.email }}</td>
                    <td class="admin-table-cell">{{ user.account.role.name }}</td>
                    <td class="w-1/4 md:w-1/6 xl:w-1/12 admin-table-cell">
                        <a href="{{ url_for('admin_view.user_details', id=user.id) }}">View</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if not users %}
    <p class="mx-auto mb-6">{{ _("No users found.") }}</p>
    {% endif %}

    <form id="create-account" action="">
        <button class="btn outline-btn icon-btn"
            formaction="{{ url_for('admin_view.start_create_user_account') }}"
        >
            {{ icon_button('mdiIcons.mdiPlus', _("Create new account")) }}
        </button>
    </form>
</div>
{% endblock %}