{% extends 'views/admin/layout.html' %}
{% from 'components/icon_button.html' import icon_button %}
{% from 'components/text_input.html' import text_input %}

{% block title %}{{ _("Details for %(user)s", user=user.name) }} | {{ _("Admin Dashboard") }}{% endblock %}

{% block data %}
<div class="flex flex-col items-center">
    <header class="w-full flex flex-row py-6">
        <span class="font-bold text-lg px-4">{{ _("Details for %(user)s", user=user.name) }}</span>
        <a href="{{ url_for('admin_view.users_list') }}"
            class="nav-link ml-auto pl-4 pr-8"
        >
            {{ _("Back to user list") }}
        </a>
    </header>

    <section class="flex flex-col">
        <form method="POST" x-data="{}">
            <div class="flex flex-row flex-wrap items-stretch">
                <div class="w-1/3">
                {{ text_input(_("ID"), 'id', initial_value=user.account.id, readonly=True) }}
                </div>
                <div class="w-2/3">
                {{ text_input(_("Username"), 'username', initial_value=user.account.username) }}
                </div>
                
            </div>

            <div class="flex flex-row flex-wrap items-stretch">
                {{ text_input(_("Email address"), 'email', initial_value=user.account.email) }}
            </div>

            <div class="flex flex-row flex-wrap items-stretch">
                {{ text_input(_("Display name"), 'display_name', initial_value=user.name) }}
            </div>

            <div class="flex flex-row flex-wrap items-stretch">
                <div class="mb-4 px-4 w-full">
                    <label for="role" class="block mb-2 font-light">
                        {{ _("Account Role") }}
                    </label>
                    <div class="w-full md:w-1/2 relative inline-flex">
                        <!-- Dropdown arrow-->
                        <svg class="fill-current pointer-events-none w-6 h-6 absolute top-0 right-0 m-4"
                            viewBox="0 0 24 24">
                            <path :d="mdiIcons.mdiChevronDown" />
                        </svg>
                        <!-- Actual menu -->
                        <select name="role" id="role" required
                            class="pixeme-select"
                        >
                            <option value="" {{ "selected" if not user.account.role }}>
                                {{ _("No role selected") }}
                            </option>

                            <option value="{{ AccountRole.user.name }}"
                            {{ "selected" if user.account.role == AccountRole.user }}>
                                {{ _("User") }}
                            </option>

                            <option value="{{ AccountRole.moderator.name }}"
                            {{ "selected" if user.account.role == AccountRole.moderator }}>
                                {{ _("Moderator") }}
                            </option>

                            <option value="{{ AccountRole.admin.name }}"
                            {{ "selected" if user.account.role == AccountRole.admin}}>
                                {{ _("Administrator") }}
                            </option>

                            <option value="{{ AccountRole.banned.name }}"
                            {{ "selected" if user.account.role == AccountRole.banned }}>
                                {{ _("Banned account") }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="button-row">
                <button class="btn outline-btn"
                    formaction="{{ url_for('admin_view.update_user', id=user.id) }}"
                >
                    {{ _("Update user") }}
                </button>

                <button class="btn outline-btn"
                    formaction="{{ url_for('admin_view.confirm_user_ban', id=user.id) }}"
                >
                    {{ _("Ban user") }}
                </button>

                <button class="btn outline-btn"
                    formaction="{{ url_for('admin_view.confirm_user_delete', id=user.id) }}"
                >
                        {{ _("Delete user") }}
                </button>
            </div>
        </form>
    </section>
</div>
{% endblock %}