<template>
    <div class="sandbox">
        <!-- Components in testing go here -->
        <!-- <Toggle v-model="toggleChecked" /> -->
        <!-- <LoginPanel
            @login="onLogin"
        /> -->
        <RegisterPanel
            @create-account="onCreate"
        />
    </div>
</template>

<script>
import Toggle from '@/components/Toggle.vue';
import LoginPanel from '@/components/LoginPanel.vue';
import RegisterPanel from '@/components/RegisterPanel.vue';

export default {
    name: 'Sandbox',

    data () {
        return {
            toggleChecked: false,

            login: {
                username: '',
                password: '',
                remember: false
            },

            register: {
                username: '',
                email: '',
                password: '',
                agree: ''
            }
        }
    },

    methods: {
        printObject (o) {
            for (const e in o) {
                console.log(`${e} = ${o[e]}`);
            }
        },

        onLogin (data) {
            this.login = data;
            this.printObject(this.login);
        },

        onCreate (data) {
            this.register = data;
            this.printObject(this.register);
        }
    },
    
    components: {
        Toggle,
        LoginPanel,
        RegisterPanel
    }
}
</script>
