{% extends 'views/meta/layout.html' %}

{% block title %}{{ _("About us") }}{% endblock %}

{% block meta_content %}
<h1>Pixeme - Pictures for a thousand words</h1>

<p>Pixeme is a platform where users can view and share images, but for a very specific reason: to learn. For any picture on Pixeme, you can add phrases in your own language for the benefit of others. Or you can build and reinforce your vocabulary skills in a language you're trying to learn.</p>

<h2>History</h2>

<p>Pixeme was started in 2020 by <a href="https://potterpcs.net">Michael H. Potter</a>, who wrote the initial code for the platform and serves as both the site administrator and lead developer.</p>

<h2>Future</h2>

<p>We have a lot of great ideas for the future of Pixeme, and we're always open to suggestions. Right now, our focus is on creating a stable platform and welcoming community. Once we're fully established, some of the ideas we have in mind include:</p>

<ul>
    <li>A user discussion forum</li>
    <li>More social interactions</li>
    <li>A more modern site design, along with a mobile app</li>
    <li>Ways for our users to show their support for us, possibly through donations or merchandise</li>
    <li>And much, much more!</li>
</ul>

<h2>Get involved</h2>

<p>If you'd like to get involved with Pixeme's development, you can check out our <a href="https://gitlab.com/momikey/pixeme">Gitlab repo</a>. There, you can contribute to the codebase, notify us of bugs you've found, or just offer your suggestions on how to make Pixeme the best platform for social, visual learning.</p>

{% endblock %}