<template>
    <transition name="fade">
        <article>
            <header>

            </header>

            <section>

            </section>
        </article>
    </transition>    
</template>

<script>
export default {
    data () {

    },

    props: {
        visible: Boolean,
        title: String,
        message: String,
        type: {
            type: String,
            default: 'info'
        },
        duration: {
            type: Number,
            default: 2500
        }
    }
}
</script>