<template>
    <t-card :header="$t('loginPanel.header')"
        class="container max-w-sm md:max-w-md mx-auto px-6"
    >

        <form class="flex flex-row items-center pt-2 md:pt-6"
            onsubmit="event.preventDefault();">
            
            <div class="w-full">
                <div class="md:my-2">
                    <label for="username" class="block mb-2 font-semibold">
                        {{ $t('common.username') }}
                    </label>

                    <t-input id="username" name="username" v-model="username"
                        class="w-full"
                    />
                </div>

                <div class="my-4">
                    <label for="password" class="block mb-2 font-semibold">
                        {{ $t('common.password') }}
                    </label>

                    <PasswordInput
                        v-model="password"
                        :show="showPassword"
                        @show="showPassword = $event"
                    />
                </div>

                <div class="my-4 flex items-center justify-center">
                    <t-checkbox id="remember" name="remember" v-model="remember"
                        :value="true" :unchecked-value="false"
                    />

                    <label for="remember" class="py-2 pl-2">
                        {{ $t('loginPanel.remember') }}
                    </label>
                </div>

                <div class="my-4">
                    <t-button variant="primary" @click="login"
                        class="mx-4 md:mx-6 w-1/3"
                    >
                        {{ $t('common.login') }}
                    </t-button>

                    <t-button @click="clear"
                        class="mx-4 md:mx-6 w-1/3"
                    >
                        {{ $t('common.cancel') }}
                    </t-button>
                </div>

                <div class="my-2 text-sm">
                    <i18n path="loginPanel.signup" tag="p">
                        <template #register>
                            <router-link to="/create-account" class="text-purple-700">
                                {{ $t('loginPanel.register') }}
                            </router-link>
                        </template>
                    </i18n>
                </div>
            </div>
        </form>
    </t-card>
</template>

<script>
import PasswordInput from '@/components/PasswordInput.vue';

export default {
    data () {
        return {
            username: '',
            password: '',
            remember: false,

            showPassword: false,
        }
    },

    methods: {
        login () {
            this.$emit('login', {
                username: this.username,
                password: this.password,
                remember: this.remember
            })
        },

        clear () {
            this.username = '';
            this.password = '';
            this.remember = false;
            this.showPassword = false;

            this.$emit('cance');
        }
    },

    components: {
        PasswordInput
    }
}
</script>