<template>
    <nav id="navbar" class="navigation flex items-center justify-between flex-wrap bg-purple-800 p-4">
        <!-- Header: logo, name, link to home -->
        <div class="flex items-center flex-shrink-0 text-white mr-0">
            <!-- TODO: Logo -->
            <span class="font-semibold text-xl tracking-tight">
                <router-link to="/">Pixeme</router-link>
            </span>
        </div>

        <!-- Hamburger menu for mobile, hidden on medium and up -->
        <div class="block md:hidden">
            <button
                class="flex items-center px-3 py-2 border rounded text-purple-200 border-purple-400
                hover:text-white hover:border-white"

                @click="menuExpanded = !menuExpanded"
            >
                <svg class="fill-current h-6 w-6" viewbox="0 0 20 20">
                    <title>{{ $t('navigation.menu') }}</title>
                    <path :d="menuExpanded ? mdiClose : mdiMenu" />
                </svg>
            </button>
        </div>

        <!-- Menu items -->
        <transition name="slide-down">
            <div class="w-full block flex-grow md:flex md:items-center md:w-auto"
                v-if="showFullMenu"
            >
                <!-- Start items -->
                <div class="md:flex-grow">
                    <router-link to="/about" class="nav-item">About</router-link>
                    <router-link to="/sandbox" class="nav-item">Sandbox</router-link>
                </div>

                <!-- End items -->
                <div>
                    <router-link to="/admin" class="nav-item">Admin</router-link>
                </div>
            </div>
        </transition>
    </nav>    
</template>

<script>
import { mdiMenu, mdiClose } from '@mdi/js';

export default {
    data () {
        return {
            menuExpanded: false,

            mdiMenu,
            mdiClose
        }
    },

    computed: {
        showFullMenu () {
            return (this.$screen.md || this.$screen.lg || this.$screen.xl) || this.menuExpanded;
        }
    }
}
</script>