<template>
    <div class="relative pixeme-password">
        <t-input id="password" name="password"
            :value="value" @input="input"
            :type="show ? 'text' : 'password'"
            :status="status"
            class="w-full"
        />

        <div
            class="absolute right-0 inset-y-0 pr-3 flex items-center text-sm leading-5">

            <svg class="w-6 h-6" fill="none" @click="$emit('show', !show)"
                viewbox="0 0 24 24"
            >
                <path :d="!show ? mdiEye : mdiEyeOff" fill="currentColor"
                />
            </svg>
        </div>
    </div>
</template>

<script>
import { mdiEye, mdiEyeOff } from '@mdi/js';

export default {
    data () {
        return {
            mdiEye,
            mdiEyeOff
        }
    },

    props: {
        value: {
            type: String,
            default: ''
        },

        show: {
            type: Boolean,
            default: false
        },

        status: {
            type: [Boolean, String, Object],
            default: null
        }
    },

    methods: {
        input (v) {
            this.$emit('input', v);
        }
    }
}
</script>