<template>
    <t-card :header="$t('registerPanel.header')"
        class="container max-w-lg md:max-w-xl mx-auto px-2"
    >
        <form class="flex flex-row items-center pt-2 md-pt-6"
            onsubmit="event.preventDefault();"
        >

            <div class="w-full">
                <div class="md:my-2">
                    <label for="usename" class="block mb-2 font-semibold">
                        {{ $t('common.username') }}
                    </label>

                    <t-input id="username" name="username" v-model="username"
                        class="w-full"
                    />
                </div>

                <div class="my-4">
                    <label for="email" class="block mb-2 font-semibold">
                        {{ $t('registerPanel.email') }}
                    </label>

                    <t-input id="email" name="email" v-model="email" type="email"
                        class="w-full"
                    />
                </div>

                <div class="my-4">
                    <label for="password" class="block mb-2 font-semibold">
                        {{ $t('common.password') }}
                    </label>

                    <PasswordInput
                        v-model="password"
                        :show="showPassword"
                        @show="showPassword = $event"
                        :status="validatePassword()"
                    />

                    <div class="text-sm">
                        <p>{{ $t('registerPanel.passwordRules') }}</p>
                    </div>
                </div>

                <div class="my-4">
                    <label for="retype" class="block mb-2 font-semibold">
                        {{ $t('registerPanel.retype') }}
                    </label>

                    <PasswordInput
                        v-model="retypePassword"
                        :show="showRetype"
                        @show="showRetype = $event"
                    />
                </div>

                <div class="my-4 flex items-center justify-center">
                    <t-checkbox id="agree" name="agree" v-model="agree"
                        :value="true" :unchecked-value="false"
                    />

                    <label for="remember" class="py-2 pl-2">
                        <i18n path="registerPanel.agree" tag="p">
                            <template #tos>
                                <router-link
                                    to="/tos" target="_blank"
                                    class="text-purple-700"
                                >
                                    {{ $t('common.tos') }}
                                </router-link>
                            </template>
                        </i18n>
                    </label>
                </div>

                <div class="my-4">
                    <t-button variant="primary" @click="create"
                        class="mx-4 md:mx-6 w-2/5 md:w-1/3"
                    >
                        {{ $t('registerPanel.create') }}
                    </t-button>

                    <t-button @click="cancel"
                        class="mx-4 md:mx-6 w-2/5 md:w-1/3"
                    >
                        {{ $t('common.cancel') }}
                    </t-button>
                </div>
            </div>
            
        </form>
    </t-card>
</template>

<script>
import PasswordInput from '@/components/PasswordInput.vue';

export default {
    data () {
        return {
            username: '',
            email: '',
            password: '',
            retypePassword: '',
            agree: false,

            showPassword: false,
            showRetype: false
        }
    },

    methods: {
        validate () {
            /*
             * A valid signup attempt must have a valid username (following the
             * server guidelines in server/schema/request_schema.py), a good
             * password that is also typed exactly the same in the retype field,
             * an email address that passes basic validation (we're not getting
             * into anything deeper here), and the user's agreement to the ToS.
             */
            return (
                /(?!\d)\w(?:\w{1,63})/.test(this.username) &&
                /.+@.+\..+/.test(this.email) &&
                this.validatePassword() &&
                this.password === this.retypePassword &&
                this.agree
            );
        },

        validatePassword () {
            // TOOD: Probably some strength meter thing would be best.
            if (this.password) {
                return this.password.length >= 8;
            } else {
                return null;
            }
        },

        create () {
            if (this.validate()) {
                this.$emit('create-account', {
                    username: this.username,
                    email: this.email,
                    password: this.password
                });
            } else {
                // TODO: Show an error or something
                console.error("Validation failed");
            }
        },

        clear () {
            this.username = '';
            this.email = '';
            this.password = '';
            this.retypePassword = '';
            this.agree = false;
        },

        cancel () {
            this.clear();
            this.$emit('cancel')
        }
    },

    components: {
        PasswordInput
    }
}
</script>