<template>
    <div class="relative rounded-full w-12 md:w-16 h-6 transition duration-200 ease-linear"
        :class="checked ? 'bg-purple-400' : 'bg-gray-400'"
    >
        <label for="toggle"
            class="absolute left-0 bg-white border-2 mb-2 w-6 md:w-8 h-6 rounded-full
            transition transform duration-100 ease-linear cursor-pointer"
            :class="checked ? 'translate-x-full border-purple-400' : 'translate-x-0 border-gray-400'"
        >
        </label>

        <input type="checkbox" name="toggle" id="toggle"
            class="appearance-none w-full h-full active:outline-none focus:outline-none"
            @click="$emit('change', !checked)"
        />
    </div>
</template>

<script>
export default {
    data () {
        return {
            toggled: false
        }
    },

    props: ['checked'],

    model: {
        prop: 'checked',
        event: 'change'
    },

    name: 'Toggle'
}
</script>