{#
    A simple accordion control using Alpine/Tailwind

    "values" should be a list of objects/dictionaries, each containing
    two fields, "title" and "content"
#}
{% macro accordion(values) %}
<div class="container mx-auto p-2" x-data="{ open: null }">
    <div class="leading-loose text-lg mt-6">
        {% for value in values %}
        <div>
            <button class="w-full flex justify-between items-center
                font-bold border-b border-gray-500 py-3 mt-4"
                @click="open = (open === {{ loop.index0 }}) ? null : {{ loop.index0 }}"
            >
                <div>{{ value.title }}</div>
                <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
                    <path x-show="open == {{ loop.index0 }}" :d="mdiIcons.mdiChevronUp" />
                    <path x-show="open != {{ loop.index0 }}" :d="mdiIcons.mdiChevronDown" />
                </svg>
            </button>

            <div class="text-gray-700 text-sm mt-2" x-show="open == {{ loop.index0 }}"
                x-transition:enter="transition ease-out duration-200"
                x-transition:enter-start="transform opacity-0 -translate-y-full"
                x-transition:enter-end="transform opacity-100 translate-y-0"
                x-transition:leave="transition-transform ease-in duration-200"
                x-transition:leave-start="transform opacity-100 translate-y-0"
                x-transition:leave-end="transform opacity-0 -translate-y-full"
            >
                {{ value.content }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endmacro %}
