{#
    A modified version of the search dropdown combobox intended
    specifically for searching for and adding tags.

    This component requires JS to be enabled.

    'name' - The name of the component, used to construct a variable name.

    'label' - The label for the input element.
 #}

 {% macro add_tag_dropdown(name, label) %}
<div class="relative max-w-sm"
    x-data="{{name}}Search()"
>
    {% if label %}
    <label for="name" class="block mb-2 font-light">
        {{ label }}
    </label>
    {% endif %}
    <div class="w-full flex flex-row border border-gray-400 shadow-md rounded-md">
        <input
            type="text" name="name"
            class="flex-grow text-input"
            x-model="query"
            @input.debounce="fetchResults()"
            placeholder="{{ _('Search for a tag or type a new one') }}"
        />
        <button
            @click="addItem(selectedId, query)"
            class="btn primary-btn px-6 flex-shrink border"
        >
            {{ _("Add") }}
        </button>
    </div>

    <div class="border shadow-sm bg-white w-full absolute origin-bottom-left z-10"
        x-show="showResults && results != null"
    >
        <template x-if="results != null && results.length == 0">
            <p>{{ _("No results found") }}</p>
        </template>
        <template x-if="results != null && results.length > 0">
            <ul>
                <template x-for="result in results" :key="result.id">
                    <li x-text="result.text"
                        @click="selectItem(result.text, result.id)"
                    >
                    </li>
                </template>
            </ul>
        </template>
    </div>
</div>
<script>
    /* We return an object with default properties and a fetch method. */
    function {{name}}Search () {
        return {
            isLoading: false,
            results: null,
            showResults: false,
            query: '',
            selectedId: null,
            resultsCache: {},
            fetchResults () {
                this.selectedId = null;
                if (this.resultsCache[this.query] != null) {
                    this.results = this.resultsCache[this.query];
                    this.showResults = true;
                } else if (this.query != '') {
                    this.isLoading = true;
                    fetch("{{ url_for('tag.search') }}" + `?q=${encodeURIComponent(this.query)}`)
                        .then(res => res.json())
                        .then(data => {
                            this.isLoading = false;
                            this.results = data.results;
                            this.resultsCache[this.query] = data.results;
                            this.showResults = true;
                        });
                } else {
                    this.clearResults();
                }
            },

            clearResults () {
                this.results = null;
            },

            selectItem (text, id) {
                this.query = text;
                this.selectedId = id;
                this.showResults = false;
            },

            addItem (id, text) {
                const event = new CustomEvent('pixeme-tag-selected', { detail: { id, text } });
                document.dispatchEvent(event);
            },
        }
    }
</script>
{% endmacro %}