{#
    Inner HTML for a button with an SVG icon to the left or right.

    This uses Alpine to dynamically assign the path data to the SVG
    icon, and relies on the button having an inline-flex class.

    'icon': A JS variable containing the SVG path as a string.
    'text': The text of the button, wrapped in a gettext call if necessary.
    'left': Whether the icon should be on the left (true, default) or right (false).
#}
{% macro icon_button(icon, text, left=true) %}
<span class="flex items-center {{ 'pr-2' if left else 'pl-2 order-last' }}" x-data="{}">
    <svg class="fill-current h-6 w-6" viewBox="0 0 24 24">
        <path :d="{{ icon }}" />
    </svg>
</span>
{% if text %}<span>{{ text }}</span>{% endif %}
{% endmacro %}