{#
    Image gallery component

    This component dynamically creates a simple image gallery.
    It's a "core" Pixeme component, one which will be used on many
    of the directory-style pages.

    'images' - A list of image objects, including ID, caption, and URL.
    'name' - A name for the component. This will be used as the HTML `id`
    attribute.
 #}

{% macro image_gallery(images, name='gallery') %}
<div class="flex flex-row flex-wrap px-4 md:px-8 lg:px-12"
    x-data="{{name}}View()"
>
    <template x-for="image in images" :key="image.id">
        <div class="w-full md:w-1/3 lg:w-1/4 xl:w-1/6
            p-2 md:p-4 lg:p-6
            hover:bg-purple-500">
            {# Note hackery here. Alpine is making the loop, but there's no
               way to pass the ID back to Flask to construct the source. If we
               ever change the view path, we'll have to change this, too. #}
            <a :href="`{{ url_for('image_view.explore_images') }}/id/${image.id}`"
                class="w-full h-full"
            >
                <img :src="image.url" :alt="image.caption" class="w-full h-full" />
            </a>
        </div>
    </template>
</div>
<script>
    function {{name}}View () {
        let loaded = 0;

        // We *assume* the image list can be converted to JSON
        let _images = {{ images|tojson }};

        // TODO: Infiniscroll, loading only a few images at a time
        // to save on bandwidth.

        return {
            images: _images
        }
    }
</script>
{% endmacro %}