{#
    A reusable login form

    This is the common Pixeme login form, in that it is used in both
    an AJAX and a "page" context. We use Alpine for this, but try to
    make it usable without Javascript, too.

    Note that, unlike other components, this is mostly a self-contained
    page ready to be placed in any view. Also, we don't import the input
    controls created elsewhere, as they're a little too general for this.
    (IOW, we need something that works with the container approach here.)

    'redirect' - Whether the cancel button should redirect (True) or send
    a "cancel" event (False, default).
 #}
{% macro login_form(redirect=False) %}
<div class="w-full max-w-screen-sm border border-gray-700 bg-white z-10 p-6"
    x-data="{ 'username': '', 'password': '', 'showPassword': false }"
>
    <form method="POST" action="{{ url_for('account_view.handle_login') }}">
        <header class="font-bold text-2xl text-center py-6">{{ _("Login") }}</header>

        <section class="flex flex-col w-full items-stretch">
            <div class="mb-4 px-4 flex-grow">
                <label for="username" class="block mb-2 font-light">
                    {{ _("Username") }}
                </label>
                <input type="text" name="username" id="login-username" placeholder='{{ _("Username") }}'
                    x-model="username"
                    class="text-input w-full"
                />
            </div>

            <div class="mb-4 px-4 flex-gruw w-full">
                <label for="password" class="block mb-2 font-light">
                    {{ _("Password") }}
                </label>
                <div class="relative">
                    <input :type="showPassword ? 'text' : 'password'" name="password" id="login-password"
                        class="text-input w-full"
                        x-model="password"
                        type='password'
                    />
            
                    <div class="absolute right-0 inset-y-0 pr-3 text-sm leading-tight flex items-center">
                        <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                            @click="showPassword = !showPassword">
                            <path :d="!showPassword ? mdiIcons.mdiEye : mdiIcons.mdiEyeOff" fill="currentColor" />
                        </svg>
                    </div>
                </div>
            </div>

            <!-- Buttons -->
            <div class="button-row">
                <button class="btn primary-btn" type="submit">
                    {{ _("Login") }}
                </button>

                {% if redirect %}
                <a href="{{ url_for('site_view.home') }}"
                    class="btn outline-btn"
                >
                    {{ _("Cancel") }}
                </a>
                {% else %}
                <button class="btn outline-btn" type="button"
                    @click="$dispatch('cancel-login')"
                >
                    {{ _("Cancel") }}
                </button>
                {% endif %}
            </div>
        </section>
    </form>
</div>
{% endmacro %}