{% from 'components/login_form.html' import login_form %}

<nav class="flex flex-wrap md:flex-no-wrap items-center justify-between sticky top-0
w-full p-4 md:px-6 bg-purple-800 text-gray-200 shadow z-50"
role="navigation"
x-data="{ open: false, showLogin: false }"
@keydown.escape="open = false"
>
    <!-- Logo: appears on desktop and mobile-->
    <div class="flex items-center flex-shrink-0 text-gray-200 mr-6">
        <a href="{{ url_for('site_view.home') }}">
            <img src="{{ static_url_for('static', filename='pixeme-logo.png') }}" alt="Pixeme logo">
        </a>
    </div>

    <!-- Hamburger menu: appears only on mobile-->
    <button @click="open = !open" type="button"
        class="block md:hidden px-4 text-gray-500 hover:text-gray-200 focus:outline-none focus:text-gray-200"
        :class="{ 'transition duration-200 ease-in-out rotate-180' : open,
                  'transition duration-200 ease-in-out -rotate-180' : !open}"
    >
        <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
            <path x-show="open" :d="mdiIcons.mdiClose" />
            <path x-show="!open" :d="mdiIcons.mdiMenu" />
        </svg>
    </button>

    <!-- Menu -->
    <div class="w-full flex-grow md:flex md:items-center md:w-auto"
        :class="{ 'block shadow-3xl' : open, 'hidden' : !open }"
        @click.away='open = false'
        x-show="true"
        x-transition:enter="ease-out duration-200"
        x-transition:enter-start="opacity-0 transform"
        x-transition:enter-end="opacity-100 transform"
        x-transition:leave="ease-in duration-200"
        x-transition:leave-start="opacity-100 transform"
        x-transition:leave-end="opacity-0 transform"
    >
        <ul class="px-8 pt-6 md:pt-0 md:flex justify-end flex-1 items-center">
            <li class="mr-3">
                <!-- Main navbar items (how many of these do we need?)-->
                <!-- <a href="#" class="inline-block py-2 px-4">Something</a> -->
            </li>

            <hr class="my-4 md:hidden md:m-0" />
            <!-- Login at the end-->
            <li class="mr-3 mx-auto md:inline-flex md:content-center">
                {% if 'user' not in session %}
                <!--
                    On desktop: use a dropdown if JS is available, redirect to the
                    login page if not.
                -->
                <div class="relative max-w-screen-sm hidden md:block md:mr-10 py-1">
                    <a href="{{ url_for('account_view.login') }}" class="inline-block px-4"
                        @click.prevent="showLogin = !showLogin"
                    >
                        {{ _('Login') }}
                    </a>
                    <div class="fixed right-0 w-full max-w-xl p-6 text-black"
                        x-show.transition.origin.top="showLogin"
                        style="display: none;"
                        @cancel-login="showLogin = false"
                    >
                        {{ login_form(False) }}
                    </div>
                </div>
                <!--
                    On mobile: just redirect to the login page. I'm not a fan of
                    popups on mobile unless absolutely needed.
                -->
                <div class="block py-2 md:hidden">
                    <a href="{{ url_for('account_view.login') }}"
                    >
                        {{ _('Login') }}
                    </a>
                </div>

                <!-- Now add the signup link after. It's the same on both.-->
                <div class="py-1">
                    <a href="{{ url_for('account_view.create_account') }}">
                        {{ _('Sign up') }}
                    </a>
                </div>

                {% else %}
                <div class="flex flex-col md:inline-flex md:flex-row align-middle justify-start
                    px-4 md:px-0">
                    <span class="hidden md:inline">
                        Hello, {{ session['user']['name'] if 'user' in session }}!
                    </span>
                    <span class="pb-4 md:pb-0 md:px-8">
                        <a href="{{ url_for('user_view.view_my_profile') }}">{{ _('Your profile') }}</a>
                    </span>
                    <form method="POST" action="{{ url_for('account_view.handle_logout') }}">
                        <button type="submit">
                            {{ _('Logout') }}
                        </button>
                    </form>
                    {% if 'account' in session and session['account']['role'] == 'admin'  %}
                    <!-- Add a link to the admin dashboard on mobile.-->
                    <hr class="my-4 md:hidden md:m-0" />
                    <span class="md:hidden">
                        <a href="{{ url_for('admin_view.home') }}">
                            {{ _("Admin dashboard") }}
                        </a>
                    </span>
                    {% endif %}
                </div>
                {% endif %}
            </li>

            <!-- On mobile, put all the ToS, Privacy, etc. stuff in the menu. -->
            <hr class="my-4 md:hidden md:m-0" />
            <li class="mr-3 mx-auto md:hidden">
                <div class="py-2 text-sm inline-flex flex-row flex-wrap items-center">
                    <a href="{{ url_for('site_view.about') }}" class="mx-4 py-2">
                        {{ _("About") }}
                    </a>
            
                    <a href="{{ url_for('site_view.help_base') }}" class="mx-4 py-2">
                        {{ _ ("Help") }}
                    </a>
            
                    <a href="{{ url_for('site_view.tos') }}" class="mx-4 py-2">
                        {{ _("Terms") }}
                    </a>
            
                    <a href="{{ url_for('site_view.privacy_policy') }}" class="mx-4 py-2">
                        {{ _("Privacy") }}
                    </a>
            
                    <a href="{{ url_for('site_view.cookie_policy') }}" class="mx-4 py-2">
                        {{ _("Cookies") }}
                    </a>
                </div>
            </li>
            <div class="w-full mx-auto px-8 flex flex-wrap justify-center
                text-sm text-gray-500 md:hidden"
            >
                {{ _(
                    "© %(copyyear)s Pixeme Project",
                    copyyear=_("2020") if today.year == 2020 else _("2020-%(curyear)s", curyear=today.year)
                ) }}
            </div>
        </ul>
    </div>
</nav>