{#
    Navigation list using Tailwind

    'items' should be a list of dictionaries, each with the keys
    'text' and 'route'. The text will be rendered, while the route
    will be passed to `url_for()` to create the link.
#}
{% macro navigation_list(items) %}
<ul class="list-none pl-2 text-sm leading-loose">
    {% for item in items %}
    <li>
        <a href="{{ url_for(item.route) }}" class="text-purple-700 hover:text-purple-500">
            {{ item.text }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endmacro %}
