{#
    Password input with label and eye on/off button

    This is a useful control for anything requiring a password. This
    covers not only logins, but also account creation and possibly
    some admin tasks.

    'label': The label and placeholder text for the input.
    'name': The field name for the input, which will also be used as its ID.
    'model': A variable name, which must be defined on an `x-data` attribute
    outside this macro. The variable will be assigned to this component's
    `x-model` attribute, to allow access outside the component itself. (We
    can use this for, e.g., client-side validation.)

    Note: The containing component must define the following properties as `x-data`:
    {model}: The model value (i.e., the password text)
    show{model | capitalize}: Boolean that holds the show/hide state of the password text
 #}
{% macro password_input(label, name, model) %}
<div class="mb-4 px-4 flex-gruw w-full">
    <label for="{{ name }}" class="block mb-2 font-light">
        {{ label }}
    </label>
    <div class="relative">
        <input :type="show{{model|capitalize}} ? 'text' : 'password'" name="{{ name }}" id="{{ name }}"
            class="text-input w-full"
            x-model="{{ model }}"
        />

        <div class="absolute right-0 inset-y-0 pr-3 text-sm leading-tight flex items-center">
            <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                @click="show{{model|capitalize}} = !show{{model|capitalize}}">
                <path :d="!show{{model|capitalize}} ? mdiIcons.mdiEye : mdiIcons.mdiEyeOff" fill="currentColor" />
            </svg>
        </div>
    </div>
</div>
{% endmacro %}