{#
    A search box with updating autcomplete in a dropdown.

    This is effectively a combobox, but with the dropdown opening
    automatically, and its entries populated on the fly by an API call.

    Note that this component requires JS to be enabled. We'll need to
    add a noscript alternative in the future. (It won't have autocomplete,
    obviously, but it can still submit a search to the server.)

    'name' - The name of this component. If JS is disabled, we'll use
    this as the name of the form. Otherwise, it's used to construct a
    variable name.

    'label' - A label for the input element.

    'target_route' - The internal name of the route to which a search
    should go. This route should be able to handle a search by ID or name.

    'api_route' - The internal name of the API route for the search.

    'attribute' - The name of the object attribute.

    'placeholder' - Optional placeholder text for the input box.
 #}
{% macro search_dropdown(
    name,
    target_route,
    api_route,
    label=None,
    attribute='text',
    placeholder=None
    )
%}
<div class="relative max-w-sm"
    x-data="{{name}}Search()"
>
    <form action="{{ url_for(target_route) }}" method="get">
        {% if label %}
        <label for="name" class="block mb-2  font-light">
            {{ label }}
        </label>
        {% endif %}
        <div class="w-full flex flex-row border border-gray-400 shadow-md rounded-md">
            <input
                type="text" name="name"
                class="flex-grow text-input"
                x-model="query"
                @input.debounce="fetchResults()"
                {% if placeholder %} placeholder="{{placeholder}}" {% endif %}
            />
            <button
                type="submit"
                class="btn primary-btn px-6 flex-shrink border"
            >
                {{ _("Go") }}
            </button>
        </div>
    </form>

    <div class="border shadow-sm bg-white w-full absolute origin-bottom-left z-10"
        x-show="results != null"
    >
        <template x-if="results != null && results.length == 0">
            <p>{{ _("No results found") }}</p>
        </template>
        <template x-if="results != null && results.length > 0">
            <ul>
                <template x-for="result in results" :key="result.id">
                    <li x-text="result.{{attribute}}"
                        @click="selectItem(result.{{attribute}}, result.id)"
                    >
                    </li>
                </template>
            </ul>
        </template>
    </div>

    <!--
        We use a form with a hidden element to go to the correct page if a choice
        from the dropdown is clicked.
    -->
    <form action="{{ url_for(target_route) }}" method="get" x-ref="{{name}}Form">
        <input type="hidden" name="id" value="0" x-ref="{{name}}Id">
    </form>
</div>
<script>
    /* We return an object with default properties and a fetch method. */
    function {{name}}Search () {
        return {
            isLoading: false,
            results: null,
            query: '',
            resultsCache: {},
            fetchResults () {
                if (this.resultsCache[this.query] != null) {
                    this.results = this.resultsCache[this.query];
                } else if (this.query != '') {
                    this.isLoading = true;
                    fetch("{{ url_for(api_route) }}" + `?q=${encodeURIComponent(this.query)}`)
                        .then(res => res.json())
                        .then(data => {
                            this.isLoading = false;
                            this.results = data.results;
                            this.resultsCache[this.query] = data.results;
                        });
                } else {
                    this.clearResults();
                }
            },

            clearResults () {
                this.results = null;
            },

            selectItem (item, id) {
                this.query = item;
                $refs.{{name}}Id.value = id;
                $refs.{{name}}Form.submit();
            },
        }
    }
</script>

{% endmacro %}