{#
    Text input with label.

    This is a common enough control that it helps to have a macro to
    define it for us. Most Pixeme text inputs are going to have common
    styles; any that don't can be customized elsewhere.

    Some of the optional arguments are JS-specific. For these, the input
    component must be a child of an element with an `x-data` attribute.

    'label': The label and placeholder text for the input.
    'name': The field name for the input, and the element ID.
    'type': The type of text input. Used for, e.g., email.
    'initial_value': This value will be set upon first load. It can be
        changed later.
    'readonly': Whether the field should be marked read-only.
    'model': Whether the input should be registered with an `x-model`
    attribute. (JS)
    'change': A function to execute on the `change` event. (JS)
    'input': A function to execute on the `input` event. (JS)
#}
{%
    macro text_input(
        label,
        name,
        type='text',
        initial_value='',
        readonly=False,
        model=False,
        change=None,
        input=None
    )
%}
<div class="mb-4 px-4 flex-grow">
    <label for="{{ name }}" class="block mb-2 font-light">
        {{ label }}
    </label>
    <input type="{{ type }}" name="{{ name }}" id="{{ name }}" placeholder='{{ label }}'
        value="{{ initial_value }}"
        class="text-input w-full"
        {{ 'readonly disabled' if readonly }}
        {% if model %}x-model="{{ name }}"{% endif %}
        {% if change %}@change.debounce="{{change}}()"{% endif %}
        {% if input %}@input.debounce.1000ms="{{input}}()"{% endif %}
    />
</div>
{% endmacro %}