{#
    Dismissible toast notification

    This requires only CSS for maximum compatibility, but uses Alpine JS
    to create a simple animation.

    'id': An ID string or number for this toast.
    'text': The text of the notification.
    'category': The notification's category: message, warning, or error.
    Different categories will be styles differently.
 #}
{% macro toast(id, text, category='message') %}
{% if category == 'warning' %}
<div class="toast toast-warning">
{% elif category == 'error' %}
<div class="toast toast-error">
{% else %}
<div class="toast toast-message">
{% endif %}

<input type="checkbox" id="toast-{{id}}" class="hidden" />
<label for="toast-{{id}}" title="close"
    class="close cursor-pointer w-full"
>
    {{ _(text) }}
</label>
</div>
{% endmacro %}